table {
    width: 100%;
    margin: 1rem auto;
}

.contenedor {
    display: flex;
    flex-direction: row;
    margin: 1rem auto;
    max-width: auto;
    box-shadow: -1px 3px 66px 0px rgba(0, 0, 0, 0.15);
    padding: 1rem;
}


.card-header {
    background-color: #fff;
    border-bottom: 1px solid #e6e6f2
}