<form [formGroup]="form" autocomplete="off" (ngSubmit)="submitReactiveForm()">

    <!--Cabecera-->
    <div class="alert alert-info" role="alert">
        <div class="card-header p-4">
            <div class="row">
                <div class="col-sm">
                    <a class="pt-2 d-inline-block" href="/" data-abc="true">KATHY SPA.com</a><br>
                    <a class="pt-2 d-inline-block" href="/" data-abc="true">RUC: 80031970-2</a>
                </div>
                <div class="col-sm">
                </div>
                <div class="col-sm float-right">
                    <h2 class="mb-0">Factura # {{'001-' + this.codigoPuntoExpedicion + '-'+ceroIzquierda(this.nextComprobante, 7)}}</h2>
                    <h3>Fecha Emisión: {{currentDate | date:'yyyy-MM-dd' }} </h3>
                    <h3>Timbrado: {{ timbrado }}</h3>
                </div>
            </div>
            <hr>
            <div class="form-row">
                <div class="form-group col-sm-6">

                    <div class="input-group input-group-sm mb-3">



                        <!--<pre>{{ form.controls.usuarioId.value | json }}</pre>-->

                        <label class="input-group-text" for="inputGroupSelect01">Cliente</label>

                        <ng-autocomplete required #ngAutoCompleteStatic [data]="usuarios" formControlName="usuarioId" [initialValue]="" [placeholder]="placeholder" [searchKeyword]="keyword" historyIdentifier="usuariosList" [historyHeading]="historyHeading" historyListMaxNumber="5"
                            notFoundText="No encontrado" [itemTemplate]="itemTemplateStatic" [notFoundTemplate]="notFoundTemplate">
                        </ng-autocomplete>

                        <ng-template #itemTemplateStatic let-item>
                            <!--<a [innerHTML]="item.nombre" ></a>-->
                            <span [innerHTML]="item.nombre"></span>&nbsp;
                            <span [innerHTML]="item.apellido"></span>
                        </ng-template>

                        <ng-template #notFoundTemplate let-notFound>
                            <div [innerHTML]="notFound"></div>
                        </ng-template>

                        <!--<button class="btn" type="submit" [disabled]="form.invalid">Submit</button>-->
                        <!--<select id="usuarioId" formControlName="usuarioId" class="form-control form-control-sm">
                            <option *ngFor="let u of usuarios" [ngValue]="u.usuarioId">
                              {{ u.nombre + ' ' + u.apellido }}
                            </option>
                        </select>-->
                        <div class="input-group-prepend">
                            <button class="btn btn-sm btn-info mr-1" data-toggle="tooltip" data-placement="top" title="Agregar cliente" (click)="openFormCliente(content)">
                                <i class="fas fa-1x fa-plus-circle"></i>
                            </button>
                        </div>

                        <mat-radio-group>
                            <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <mat-label>Filtrar por: </mat-label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <mat-radio-button value="before" (click)=filtroCedula() [checked]="true">Cedula</mat-radio-button>&nbsp;
                            <mat-radio-button (click)=filtroNombre()>Nombre</mat-radio-button>&nbsp;
                            <mat-radio-button (click)=filtroRuc()>Ruc</mat-radio-button>&nbsp;
                        </mat-radio-group>
                    </div>

                </div>
                <div class="form-group col-sm-2 ">
                </div>
                <div class="form-group col-sm-4 ">

                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Forma de Pago</label>
                        </div>
                        <select id="medioPagoId" formControlName="medioPagoId" class="form-control form-control-sm">
                          <option *ngFor="let m of medios" [ngValue]="m.medioPagoId">
                            {{ m.descripcion }}
                          </option>
                        </select>
                        <div class="input-group-prepend">
                            <button class="btn btn-sm btn-info mr-1" data-toggle="tooltip" data-placement="top" title="Agregar Medio Pago" (click)="openFormMedio(content1)">
                                <i class="fas fa-1x fa-plus-circle"></i>
                                </button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Monto Total</label>
                    </div>
                    <input [(ngModel)]="totalVenta" formControlName="montoTotal" type="montoTotal" value="{{ util.numberWithCommas(totalVenta)}}" class="form-control form-control-sm" id="montoTotal" disabled>
                    <div class="input-group-prepend">
                        <button class="btn btn-sm btn-info mr-1" data-toggle="tooltip" data-placement="top" title="Gs.">
                <i class="fas fa-dollar-sign"></i>
                </button>
                    </div>
                </div>
            </div>




            <input [(ngModel)]="fechaActual" formControlName="fecha" type="hidden" value="{{currentDate | date:'yyyy-MM-dd' }}" class="form-control form-control-sm" id="fecha" disabled>
            <input formControlName="numeroComprobante" type="hidden" value="{{'001-' + this.codigoPuntoExpedicion + '-'+ceroIzquierda(this.nextComprobante, 7)}}" class="form-control form-control-sm" id="numeroComprobante" disabled>


        </div>
    </div>

</form>


<!--
<div class="container-fluid">
    <form [formGroup]="form">
        <div class="form-group row">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Fecha </label>
            <div class="col-sm-3">
                <input [(ngModel)]="fechaActual" formControlName="fecha" type="date" value="{{currentDate | date:'yyyy-MM-dd' }}" class="form-control form-control-sm" id="fecha" disabled>
            </div>
        </div>

        <div class="form-group row">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Numero comprobante</label>
            <div class="col-sm-3">
                <input formControlName="numeroComprobante" type="numeroComprobante" value="{{'001-' + this.codigoPuntoExpedicion + '-'+ceroIzquierda(this.nextComprobante, 7)}}" class="form-control form-control-sm" id="numeroComprobante" disabled>
            </div>
        </div>

        <div class="form-group row">
            <label for="inputState" class="col-sm-2 col-form-label">Medio de pago</label>
            <div class="form-group col-md-3">
                <select id="medioPagoId" formControlName="medioPagoId" class="form-control form-control-sm">
              <option *ngFor="let m of medios" [ngValue]="m.medioPagoId">
                {{ m.descripcion }}
              </option>
            </select>
            </div>
            <div class="d-inline ">
                <button class="btn btn-sm btn-info mr-1" data-toggle="modal" data-target="#myModal" data-placement="top" title="Agregar medio de pago">
                <i class="fas fa-1x fa-plus-circle"></i>
            </button>

            </div>
        </div>


        <div class="form-group row">
            <label for="inputState" class="col-sm-2 col-form-label">Cliente</label>
            <div class="form-group col-md-3">
                <select id="usuarioId" formControlName="usuarioId" class="form-control form-control-sm">
              <option *ngFor="let u of usuarios" [ngValue]="u.usuarioId">
                {{ u.nombre + ' ' + u.apellido }}
              </option>
            </select>
            </div>
            <div class="d-inline ">
                <button class="btn btn-sm btn-info mr-1" data-toggle="modal" data-target="#myModal2" data-placement="top" title="Agregar medio de pago">
                <i class="fas fa-1x fa-plus-circle"></i>
            </button>

            </div>

        </div>

        <div class="form-group row">
            <label for="inputPassword3" class="col-sm-2 col-form-label ">Monto Total</label>
            <div class="col-sm-3">
                <input [(ngModel)]="totalVenta" formControlName="montoTotal" type="montoTotal" value="{{ util.numberWithCommas(totalVenta)}}" class="form-control form-control-sm" id="montoTotal" disabled>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-3">
                <button type="submit" [disabled]="!this.form.valid" class="btn btn-primary btn-sm" (click)="guardar()">Guardar</button>
            </div>
        </div>
    </form>
</div>
-->
<hr>
<h3 style="text-align: center;">DETALLES</h3>


<!--form que recibe parametros para detalle-->
<div class="contenedor">
    <section>
        <label>Seleccione el tipo de detalle que desea agregar:  </label>&nbsp;
        <mat-radio-group>
            <mat-radio-button value="after" (click)=cargaProducto() [checked]="true">PRODUCTO</mat-radio-button>&nbsp;&nbsp;
            <mat-radio-button value="before" (click)=cargaServicio()>SERVICIO</mat-radio-button>
        </mat-radio-group>
    </section>
</div>
<!--filtro producto-->
<mat-form-field appearance="fill" style="width:40%;" [hidden]="!esProducto">
    <mat-label>Seleccione un producto</mat-label>
    <input type="text" placeholder="Seleccione un producto" matNativeControl [(ngModel)]="valor" aria-label="Seleccione un producto" matInput [formControl]="myControl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option.descripcion">
            {{option.descripcion}}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>
<!--fin filtro producto-->
<!--filtro servicios-->
<mat-form-field appearance="fill" style="width:40%;" [hidden]="esProducto">
    <mat-label>Seleccione un servicio</mat-label>
    <input type="text" placeholder="Seleccione un servico" matNativeControl [(ngModel)]="valor1" aria-label="Seleccione un servicio" matInput [formControl]="myControl1" [matAutocomplete]="auto1">
    <mat-autocomplete #auto1="matAutocomplete">
        <mat-option *ngFor="let option1 of filteredOptions1 | async" [value]="option1.servicio">
            {{option1.servicio}}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>

<!--<mat-form-field appearance="fill" style="width:40%;">
    <mat-label>Seleccione el producto</mat-label>
    <select matNativeControl [(ngModel)]="selectedProd" [(ngModel)]="articuloselect.productoId" name="prod">
          <option value="--" selected></option>
          <option *ngFor="let prod of productos " [ngValue]="prod" >
            {{prod.descripcion}}
          </option>
        </select>
</mat-form-field>-->
<mat-form-field appearance="fill" style="width:40%;">
    <mat-label>Cantidad</mat-label>
    <input matInput [(ngModel)]="articuloselect.cantidad" type="number" placeholder="Cantidad">
</mat-form-field>&nbsp;
<button mat-raised-button class="btn btn-info mr-2 mb-1" (click)="agregar()" style="height:40px">Agregar</button>
<!--Fin tabla para detalles-->










<!--Agregar tabla para detalles-->

<strong><p class="text-center">Productos</p></strong>
<table mat-table [dataSource]="datos" class="mat-elevation-z8" #tabla1>


    <tr mat-header-cell *matHeaderCellDef> Productos </tr>


    <ng-container matColumnDef="cantidad">
        <th mat-header-cell *matHeaderCellDef> Cantidad </th>
        <td mat-cell *matCellDef="let detalle"> {{detalle.cantidad}} </td>
    </ng-container>

    <ng-container matColumnDef="producto_servicio">
        <th mat-header-cell *matHeaderCellDef> Producto o Servico </th>
        <ng-container *matCellDef="let detalle">
            <td mat-cell *ngIf="detalle.productoId !== null; else servicio">
                {{detalle.productoId.descripcion}}
            </td>
            <ng-template #servicio>
                <td>{{detalle.servicioId.descripcion}}</td>
            </ng-template>
        </ng-container>
        <ng-template #noprod>-</ng-template>
    </ng-container>


    <ng-container matColumnDef="precioVenta">
        <th mat-header-cell *matHeaderCellDef> Precio </th>
        <td mat-cell *matCellDef="let detalle"> {{util.numberWithCommas(detalle.precio)}} </td>
    </ng-container>

    <ng-container matColumnDef="monto" invisible>
        <th mat-header-cell *matHeaderCellDef> Total </th>
        <td mat-cell *matCellDef="let detalle">
            {{ util.numberWithCommas(detalle.monto)}}
        </td>
    </ng-container>

    <ng-container matColumnDef="borrar">
        <th mat-header-cell *matHeaderCellDef> Borrar? </th>
        <td mat-cell *matCellDef="let j = index;">
            <button mat-raised-button color="warn" focusable="false" (click)="borrarFila(j)">
                  Borrar?
                </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnas"></tr>
    <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
</table>




<button routerLink="/ventas/listar/{{this.codigoPuntoExpedicion}}" class="btn btn-sm btn-info mr-1">
    <i class="fas fa-arrow-left"></i> Regresar
    </button>
<button type="submit" [disabled]="!this.form.valid" class="btn btn-sm btn-info mr-1
    " (click)="guardar()"> <i class="fas fa-save"></i> Guardar</button>




<hr>

<br>
<br>

<br>
<br>





<!-- Modal Medio de Pago -->
<ng-template #content1 let-modal>
    <div class="modal-header alert-info">
        <h2 class="modal-title" id="modal-basic-title">Añadir Medio Pago</h2>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <div class="container-fluid">
            <form [formGroup]="formMedio">
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-4 col-form-label">Codigo</label>
                    <div class="col-sm-6">
                        <input formControlName="codigo" type="codigo" class="form-control" id="codigo" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword3" class="col-sm-4 col-form-label">Descripción</label>
                    <div class="col-sm-6">
                        <!--<input formControlName="descripcion" type="text" class="form-control" id="descripcion" required>-->
                        <textarea formControlName="descripcion" type="text" class="form-control" rows="1" style="max-height:50px;"> </textarea>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" [disabled]="!this.formMedio.valid" class="btn btn-info mr-1" (click)="guardarMedio()"> <i class="fas fa-save"></i>Guardar</button>
    </div>
</ng-template>





<ng-template #content let-modal>
    <div class="modal-header alert-info">
        <h2 class="modal-title" id="modal-basic-title">Añadir Cliente</h2>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <form [formGroup]="formCliente">
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-4 col-form-label">Nombre de Usuario</label>
                    <div class="col-sm-6">
                        <input type="text" autocomplete="username" class="form-control" id="username" placeholder="username" formControlName="username">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-4 col-form-label">Contraseña</label>
                    <div class="col-sm-6">
                        <input type="password" autocomplete="current-password" class="form-control" id="password" formControlName="password">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-4 col-form-label">Nombre</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="nombre" placeholder="Nombre" formControlName="nombre">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-4 col-form-label">Apellido</label>
                    <div class="col-sm-6">
                        <input type="apellido" class="form-control" id="apellido" placeholder="Apellido" formControlName="apellido">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-4 col-form-label">Correo electrónico</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="correo" placeholder="Email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" formControlName="correo">

                        <div *ngIf="correo.invalid && (correo.dirty || correo.touched)" class="">
                            <br>
                            <p class="text-danger"> * Correo no válido.</p>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-4 col-form-label">RUC</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="ruc" placeholder="000-0000-0000-00" formControlName="ruc">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-4 col-form-label">Teléfono</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="telefono" placeholder="(0986) 111-555" pattern="^[0-9]*$" formControlName="telefono">

                        <div *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)" class="alert alert-danger">
                            Introduzca sólo dígitos. </div>
                    </div>
                </div>

                <fieldset class="form-group">
                    <div class="row">
                        <legend class="col-form-label col-sm-4 pt-0">Género</legend>
                        <div class="col-sm-6">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="sexo" id="gridRadios1" value="femenino" formControlName="sexo" checked>
                                <label class="form-check-label" for="gridRadios1">
                                  FEMENINO
                                </label>
                                <br>
                                <input class="form-check-input" type="radio" name="sexo" id="gridRadios2" value="masculino" formControlName="sexo">
                                <label class="form-check-label" for="gridRadios2">
                                    MASCULINO
                                </label>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" [disabled]="!this.formCliente.valid" class="btn btn-info mr-1" (click)="guardarCliente()"> <i class="fas fa-save"></i>Guardar</button>
    </div>
</ng-template>