
<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">

    <div class="carousel-inner">
      <div class="carousel-item"  *ngFor="let item of servicios; let i = index" [ngClass]="{'active': i == 0 }">
        <img src="/assets/img/{{item.imageName}}.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>{{item.nombre}}</h5>
          <p>{{item.descripcion}}, {{item.costo}} Gs. </p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
