<blockquote class="blockquote text-center">
  <h1>Aprovecha nuestros paquetes y ofertas!</h1>
  <footer class="blockquote-footer"><cite title="Source Title">Explora nuestras ofertas y paquetes!</cite></footer>
</blockquote>


<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">

    <div class="carousel-inner">
      <div class="carousel-item"  *ngFor="let item of servicios; let i = index" [ngClass]="{'active': i == 0 }">
        <img src="/assets/img/{{item.imageName}}.png" class="d-block w-50 h-50"  alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>{{item.nombre}}</h5>
          <p>{{item.descripcion}}, {{item.costo}} Gs. </p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>


  
<div *ngIf="servicios.length == 0" class="alert alert-secondary text-center mt-3">
  <h4 class="alert-heading">No hay registros <i class="fa fa-exclamation"></i> </h4>  
</div>