<form [formGroup]="form">

    <div class="alert alert-info" role="alert">
        <div class="card-header p-4">
            <div class="row">
                <div class="col-sm">
                    <h2 class="mb-0">Liquidación Salario # </h2>
                    <h3>Fecha Emisión: {{currentDate | date:'yyyy-MM-dd' }} </h3>
                </div>
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Empleado</label>
                    </div>
                    <select id="empleadoId" formControlName="empleadoId" class="form-control form-control-sm">
                        <option *ngFor="let e of empleados" [ngValue]="e.empleadoId">
                          {{ e.nombre + ' ' + e.apellido }}
                        </option>
                    </select>
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Periodo Pago</label>
                    </div>
                    <select id="mesPago" formControlName="mesPago" class="form-control form-control-sm">
                      <option *ngFor="let m of months" [ngValue]="m.cod">
                        {{ m.mes }}
                      </option>
                    </select>

                    <div class="input-group-prepend">
                        <button class="btn btn-sm btn-info mr-1" data-toggle="tooltip" data-placement="top" title="Procesar Comisiones" (click)="procesarComisiones()"> Procesar Comisiones
                        </button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group input-group-sm mb-3">
                </div>
            </div>
        </div>
    </div>
    <input formControlName="fechaPago" type="hidden" value="{{currentDate | date:'yyyy-MM-dd' }}" class="form-control form-control-sm" id="fechaPago" disabled>


</form>


<div class="card mb-4">
    <div class="card-body">
        <div class="table-responsive table-wrapper-scroll-y my-custom-scrollbar">
            <table class="table table-sm table-bordered display" id="dataTable" *ngIf="confirmados.length>0" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Fecha</th>
                        <th>Room</th>
                        <th>Servicio</th>
                        <th>Costo</th>
                        <th>Comision</th>
                        <th>Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of confirmados; let i = index  ">
                        <td>{{ i + 1}}</td>
                        <td>{{ item.fechaReserva }}</td>
                        <td>{{ item.disponibleBoxesId.boxesId.nombre}}</td>
                        <td>{{ item.disponibleId.servicioId.nombre}}</td>
                        <td>{{ item.disponibleId.servicioId.costo}}</td>
                        <td>{{ item.disponibleId.comision }}</td>
                        <td>{{ (item.disponibleId.servicioId.costo * (item.disponibleId.comision/100)) }}</td>
                    </tr>
                    <hr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>SubTotal:</td>
                        <td>
                            {{ this.subtotal }}
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Salario Base:</td>
                        <td> {{ this.empleado.sueldo }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<br><br>


<div class="card mb-4">
    <div class="card-body">
        <div class="table-responsive table-wrapper-scroll-y my-custom-scrollbar">
            <table class="table table-sm table-bordered display" id="dataTable" *ngIf="confirmados.length>0" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Concepto</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>Valor</th>
                        <th>Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of conceptos; let i = index  ">
                        <td>{{ i + 1}}</td>
                        <td>{{ item.descripcion }}</td>
                        <th></th>
                        <th></th>
                        <th></th>
                        <td><input [(ngModel)]="item.valor" type="text" value="{{item.valor}}" class="form-control form-control-sm" id="valor" (change)="reCalcularSubtotal()" required>
                        </td>
                    </tr>
                    <hr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Total:</td>
                        <td> {{ this.subtotal2 }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>










<button routerLink="/planilla/generar" class="btn btn-sm btn-info mr-1">
    <i class="fas fa-arrow-left"></i> Regresar
    </button>
<button type="submit" class="btn btn-sm btn-info mr-1" (click)="guardar()"> <i class="fas fa-save"></i> Procesar</button>



<br>
<br>
<br>