
    <ngb-carousel *ngIf="images">
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img class="w-100" [src]="images[0]" alt="Random first slide">
          </div>
          <div class="carousel-caption">
            <h1 class="display-1">BIENVENIDO</h1>
            <p>Estética y Bienestar .. el placer de vivir mejor cerca tuyo <br>
                <button class="btn btn-info text-white mr-2 mt-lg-0 mt-md-0 "
                [routerLink]="['booking/categorias']">RESERVA ONLINE</button></p>
            
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img class="w-100" [src]="images[1]" alt="Random second slide">
          </div>
          <div class="carousel-caption">
            <h2>PRODUCTOS</h2>
            <p>Explora nuestor catálogo de productos</p>
            <button class="btn btn-info text-white mr-2 mt-lg-0 mt-md-0 "
             [routerLink]="['booking/productos']">VER MÁS</button>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img  class="w-100" [src]="images[2]" alt="Random third slide">
          </div>
          <div class="carousel-caption">
            <h2>Third slide label</h2>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
          </div>
        </ng-template>
      </ngb-carousel>



<br>
<br>
<br>
<br>
<br>
<br>
<br>


<div class="row">
  <div class="card text-center text-info bg-light">
    <div class="card-header">
      Featured
    </div>
    <div class="card-body">
      <h1 class="card-title">¿Quiénes somos?</h1>
      <p class="card-text">
        <strong>El Centro de Estética &amp; Spa es un espl&eacute;ndido espacio, el lugar perfecto
          para pasar el día relajado en Paraguay.</strong>.</p>
         <p style="text-align: center;">En nuestro spa podrás escapar fácilmente de la rutina diaria para
              disfrutar una verdadera experiencia de bienestar.
             La variedad de servicios ofrecidos de forma individual o en pareja ayuda a nuestros huéspedes a
              restaurar el balance y traer paz a su interior, garantizando de esta manera una total conexión
               entre el cuerpo y la mente.
      </p>
      <h1 class="card-title">Información Util</h1>
         
        <p style='text-align: center;'><i class='fab fa-star'>​</i>&nbsp;Zona WiFi Gratis</p>
        <p style='text-align: center;'><i class='fas fa-star'>​</i>&nbsp;Más de 20 tratamientos</p>
        <p style='text-align: center;'><i class='fas fa-star fa-2x'>​</i>&nbsp;Música relajante</p>
        <p style='text-align: center;'><i class='fas fa-star fa-2x'>​</i>&nbsp;Productos de Calidad</p>
        <p style='text-align: center;'><i class='fa fa-plane fa-2x'>​</i>&nbsp;Fácil de agendar</p>							</div>
    
    </div>
  </div>




  <!--


    <div class="alert alert-info" role="alert">
        <div >
        
            <h1 class="display-3" style="text-align: center;">¿Quiénes somos?</h1>

        <h3 style="text-align: center;">Kathy Estética &amp; spa</h3>
        <p style="text-align: center;">
            <i class="fa fa-star fa-3x">​</i>&nbsp;
            <i class="fa fa-star fa-3x">​</i>&nbsp;
            <i class="fa fa-star fa-3x">​</i>&nbsp;
            <i class="fa fa-star fa-3x">​</i></p>
            <p style="text-align: center;">
                <strong>El Centro de Estética &amp; Spa es un espl&eacute;ndido espacio, el lugar perfecto
                 para pasar el día relajado en Paraguay.</strong>.</p>
                <p style="text-align: center;">En nuestro spa podrás escapar fácilmente de la rutina diaria para
                     disfrutar una verdadera experiencia de bienestar.
                    La variedad de servicios ofrecidos de forma individual o en pareja ayuda a nuestros huéspedes a
                     restaurar el balance y traer paz a su interior, garantizando de esta manera una total conexión
                      entre el cuerpo y la mente.</p>	</div>
                <div class="col-xs-12 col-lg-10 col-lg-push-1 col-xl-8 col-xl-push-2 smrt-good-to-know">
      
      
        <h2 class="text-center smrt-hea">Información útil</h2>
        <p style='text-align: center;'><i class='fab fa-star'>​</i>&nbsp;Zona WiFi Gratis</p>
        <p style='text-align: center;'><i class='fas fa-star'>​</i>&nbsp;Más de 20 tratamientos</p>
        <p style='text-align: center;'><i class='fas fa-star fa-2x'>​</i>&nbsp;Música relajante</p>
        <p style='text-align: center;'><i class='fas fa-star fa-2x'>​</i>&nbsp;Productos de Calidad</p>
        <p style='text-align: center;'><i class='fa fa-plane fa-2x'>​</i>&nbsp;Fácil de agendar</p>							</div>
    

</div>

  -->



  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  
  
  <h1 class="card-title">Experiencias de bienestar para disfrutar</h1><br>

<div class="row">
  <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="assets/img/servicios.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"> {{ datos[2].data }} - {{ datos[2].descripcion }}</h5>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="assets/img/productos.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{ datos[0].data }} - {{ datos[0].descripcion }}</h5>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="assets/img/reserva.png"alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{ datos[1].data }} - {{ datos[1].descripcion }}</h5>
      </div>
    </div>
  </div>

</div>



<br>
<br>
<br>
<br>
<br>
<br>
<br>




<div class="row" style="text-align: center;">
  <h1 class="card-title">¿Dónde estamos?</h1><br>
  <br>
  <br>
    <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d7211.290484680905!2d-57.511147081932506!3d-25.349682729535996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x945dae81685dfcdd%3A0xb46a37a3f5faabe8!2sMarcelina%20Insfran%2C%20San%20Lorenzo!3m2!1d-25.3497924!2d-57.5128634!5e0!3m2!1ses!2spy!4v1622162643766!5m2!1ses!2spy" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

</div>






<br>
<br>
<br>
<br>
<br>
<br>
<br>




