<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" [routerLink]="['']">Inicio</a>
    <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i></button>
  
    <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['booking/categorias']">Servicios <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['booking/productos']">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['booking/ofertas']">Ofertas</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Gestión
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" [routerLink]="['cliente/listar']"> Clientes</a>
            <a class="dropdown-item" [routerLink]="['reserva/listar']"> Reservas</a>
            <a class="dropdown-item" [routerLink]="['empleado/listar']"> Empleados</a>
            <a class="dropdown-item" [routerLink]="['empleado/disponible']"> Especialidades de Empleados</a>
          
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Inventario
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" [routerLink]="['servicio/listar']">Servicios</a>
            <a class="dropdown-item" [routerLink]="['producto/listar']">Productos</a>
            <a class="dropdown-item" [routerLink]="['categoria/listar']">Categorias</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Finanzas
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" [routerLink]="['empleado/listar']">Cobros a clientes</a>
            <a class="dropdown-item" [routerLink]="['empleado/listar']">Pagos a Empleados</a>
            <a class="dropdown-item" [routerLink]="['medios-pago/listar']">Medios de Pago</a>
          </div>
        </li>
      </ul>
    
  </nav>