<div class="row">
    <div class="col-sm-6 col-md-8">

        <div >
            <button *ngFor="let cat of categorias" type="button" class="btn btn-light"
            (click)="recargar(cat.categoriaId)"> {{cat.descripcion}} </button>
        </div>

        <div class="row row-cols-1 row-cols-md-3">
            <div class="card" *ngFor="let item of servicios">
            <!--   <img src="..." class="card-img-top" alt="..."> -->
            <div class="card-body">
                <h5 class="card-title">{{item.nombre}}</h5>
                <p class="card-text">{{item.descripcion}} </p>
            </div>
            <div class="card-footer">
                <small class="text-muted">
                    <i class="far fa-clock"></i><strong> {{item.duracion}} |
                    <i class="fas fa-money-bill-alt"></i> {{item.costo}} Gs. </strong></small>

                <button  class="btn btn-info mr-1 float-right" (click)="addItem(item)" > <i class="fas fa-plus-square"></i> </button>
            </div>
            </div>
        </div>
        <div *ngIf="servicios.length == 0" class="alertalert-warning text-center mt-3">
            <h4 class="alert-heading">No hay registros</h4>  
            <p>
            <i class="fa fa-exclamation fa-2x"></i>
            </p>
        </div>


    </div>
    <div class="col-6 col-md-4 fixed">
        <table class="table table-sm display" id="dataTable" *ngIf="arrayList.length>0" width="100%" cellspacing="0">
           <h4>Tus reservas</h4>
            <tbody *ngFor="let item of arrayList; let i = index">
                <tr>
                  <td *ngIf="i < 0">{{ i + 1 }}</td>
                  <td>{{ item.nombre}}</td>
                  <td  text-aligned="right"> gs. {{ item.costo}}</td>
                  <td>                        
                    <button (click)="eraseItem(i)" ><i class="far fa-trash-alt"></i></button>
                  </td>
                </tr>
              </tbody>
              <tbody>
                <tr>
                    <td >Total</td>
                    <td> gs. {{this.sum}} </td>      
                  </tr>
              </tbody>
            </table>
            <div *ngIf="arrayList.length>0"> 
                <button class="btn btn-info mr-1">Eligir Terapista</button> 
            </div>
           
    </div>
</div>
       
            




   
