<br>
<div class="container-fluid">
  <div class="row">
    <h5 class="display">Nuevo Servicio</h5>
    <div class="col text-right">
      <button routerLink="/servicio/listar" class="btn btn-info mr-1">
        <i class="fas fa-arrow-left"></i> Regresar
      </button>
    </div>
  </div>
</div>
<hr>

<div class="container-fluid">
  <form [formGroup]="form">
    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Nombre del Servicio</label>
      <div class="col-sm-4">
        <input formControlName="nombre" type="nombre" maxlength="30" class="form-control" id="nombre" required>
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Caracteristicas del Servicio</label>
      <div class="col-sm-4">
        <input formControlName="descripcion" type="descripcion" maxlength="60" class="form-control" id="descripcion"
          required>
      </div>
    </div>
    <div class="form-group row">
      <label for="inputZip" class="col-sm-2 col-form-label">Estado</label>
      <div class="col-sm-4">
        <select id="estado" formControlName="estado" class="form-control" required>
          <option selected>...</option>
          <option value="ACTIVO">Activo</option>
          <option value="INACTIVO">Inactivo</option>
          <option value="PROMO">Promoción</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="inputState" class="col-sm-2 col-form-label">Categoria</label>
      <div class="col-sm-4">
        <select id="categoriaId" formControlName="categoriaId" class="form-control">
          <option *ngFor="let cat of categorias" [ngValue]="cat.categoriaId">
            {{ cat.descripcion }}
          </option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="inputCity" class="col-sm-2 col-form-label">Duracion</label>
      <div class="col-sm-4">
        <input formControlName="duracion" type="time" class="form-control" id="duracion" min="01:00" max="03:00"
          required>
        <span class="validity"></span>
      </div>
    </div>
    <div class="form-group row">
      <label for="inputState" class="col-sm-2 col-form-label">Costo</label>
      <div class="col-sm-4">
        <input formControlName="costo" type="number" max="1500000" class="form-control" id="costo" required>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" [disabled]="!this.form.valid" class="btn btn-primary" (click)="guardar()">Guardar</button>
      </div>
    </div>
  </form>
</div>