<br>
<div class="container-fluid">
  <div class="row">
    <h5 class="display">Servicios</h5>
    <div class="col text-right">
      <button routerLink="/servicio/agregar" class="btn btn-info mr-1" >
       <i class="fas fa-plus"></i> Agregar
      </button>  
    </div>
  </div>
<table *ngIf="servicios.length>0" class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Codigo</th>
      <th scope="col">Descripción</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cat of servicios; let i = index  ">
      <td>{{ i + 1}}</td>
      <td>{{ cat.codigo}}</td>
      <td>{{ cat.descripcion}}</td>
      <td>
        <button class="btn btn-info mr-1"
         [routerLink]="['/servicio/modificar', cat.categoriaId ]">
          <i class="fas fa-pencil-alt"></i>
        </button>
      </td>
      <td>
        <button class="btn btn-info mr-1" (click)="borrar(cat.categoriaId, i)">
          <i class="fas fa-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
<div *ngIf="servicios.length == 0" class="alertalert-warning text-center mt-3">
  <h4 class="alert-heading">No hay registros</h4>  
  <p>
    <i class="fa fa-exclamation fa-2x"></i>
  </p>
</div>


</div>


