<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<ngx-spinner></ngx-spinner>

<section id="wrapper" class="login-register login-sidebar" style="background-image:url(../assets/img/background/login-register.jpg);">
    <div class="login-box card">
        <div class="card-body container">

            <form class="form-horizontal form-material" id="loginform" autocomplete="off" [formGroup]="registerForm" (ngSubmit)="crearUsuario()">

                <a href="javascript:void(0)" class="text-center db"><img src="../assets/img/kathy-spa2.jpg" alt="Home" /><br/>
                    <!--<img src="../assets/img/logo-text.png" alt="Home" />--></a>
                <h2 class="box-title m-t-40 m-b-0">Registrate ahora</h2>
                <div class="col-inline">
                    <p class="box-title m-t-40 m-b-0">En este formulario hay campos obligatorios <span class="text-danger">*</span></p>
                </div>

                <!--<small>Crea tu cuenta y disfruta</small>-->

                <div class="form-group m-t-20">

                    <div class="col-sm-12">
                        <input class="form-control d-inline col-sm-10" type="text" placeholder="Nombres" formControlName="nombre">
                        <span class="text-danger d-inline col-sm-2">*</span>
                    </div>
                </div>
                <div class="form-group m-t-20">
                    <div class="col-sm-12">
                        <input class="form-control d-inline col-sm-10" type="text" placeholder="Apellidos" formControlName="apellido">
                        <span class="text-danger d-inline col-sm-2">*</span>
                    </div>
                </div>
                <div class="form-group m-t-20">
                    <div class="col-sm-10" d-inline>
                        <select id="sexo" class="form-control" placeholder="Sexo" formControlName="sexo" required>
                            <option class="bg-light" value="" selected disabled>Seleccione su sexo</option>
                            <option value="MASCULINO" >MASCULINO</option>
                              <option value="FEMENINO">FEMENINO</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-danger">
                        <p *ngIf="campoNoValidoSexo('sexo')"> * El dato de sexo es obligatorio</p>
                    </div>
                </div>
                <div class="form-group m-t-20">
                    <div class="col-sm-12">
                        <input class="form-control col-sm-10 d-inline" type="text" placeholder="Nombre de usuario" formControlName="username">
                        <span class="text-danger d-inline col-sm-2">*</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-danger">
                        <p *ngIf="userNoValido()"> * El nombre de usuario debe contener al menos 3 caracteres</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-danger">
                        <p *ngIf="campoNoValido('username')"> * El nombre de usuario es obligatorio</p>
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-sm-12">
                        <input class="form-control d-inline col-sm-10" type="text" placeholder="Correo" formControlName="email">
                        <span class="text-danger d-inline col-sm-2">*</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-danger">
                        <p *ngIf="campoNoValido('email')"> * El correo es obligatorio y debe ser un correo valido</p>
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-sm-12">
                        <input class="form-control d-inline col-sm-10" id="password" type="password" placeholder="Contraseña" formControlName="password">
                        <span class="text-danger d-inline col-sm-2">*</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <input class="form-control d-inline col-sm-10" id="password2" type="password" placeholder="Confirmar contraseña" formControlName="password2">
                        <span class="text-danger d-inline col-sm-2">*</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-danger">
                        <p *ngIf="passwordNoValido()"> * La contraseña debe tener un minimo de 3 caracteres</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-danger">
                        <p *ngIf="passwordIguales()"> * Las contraseñas deben ser iguales</p>
                    </div>
                </div>


                <div class="form-group col-sm-12 text-center m-t-20">
                    <div class="col-sm-10">
                        <button class="btn btn-info btn-lg-10 btn-sm-10 btn-bloc text-uppercase waves-effect waves-light" [disabled]="this.registerForm.invalid || passwordIguales() || passwordNoValido() || 
                        campoNoValido('email') || campoNoValido('email') || campoNoValido('username') || userNoValido()" type="submit">
                            Crear cuenta
                        </button>
                    </div>
                </div>
                <div class="form-group m-b-0 text-center col-sm-12">
                    <div class="col-sm-10 text-center">
                        <p>Ya tienes una cuenta? <a routerLink="/login" href="pages-login-2.html" class="text-info m-l-5"><b>Ingresar</b></a></p>
                    </div>
                </div>
                <div class="form-group text-center col-sm-12 m-b-0">
                    <div class="col-sm-10 text-center">
                        <a routerLink="/" class="text-info m-l-5"><b>Volver a la página principal</b></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->