<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<section id="wrapper" class="login-register login-sidebar" style="background-image:url(../assets/img/background/login-register.jpg);">
    <div class="login-box card">
        <div class="card-body">

            <form class="form-horizontal form-material" id="loginform" autocomplete="off" [formGroup]="registerForm" (ngSubmit)="crearUsuario()">

                <a href="javascript:void(0)" class="text-center db"><img src="../assets/img/kathy-spa2.jpg" alt="Home" /><br/>
                    <!--<img src="../assets/img/logo-text.png" alt="Home" />--></a>
                <h3 class="box-title m-t-40 m-b-0">Registrate ahora</h3>
                <!--<small>Crea tu cuenta y disfruta</small>-->
                <div class="form-group m-t-20">
                    <div class="col-xs-12">
                        <input class="form-control" type="text" placeholder="Nombre de usuario" formControlName="username">
                    </div>
                </div>
                <div class="row">
                    <div class="col text-danger">
                        <p *ngIf="campoNoValido('username')"> * El nombre de usuario es obligatorio</p>
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-xs-12">
                        <input class="form-control" type="text" placeholder="Correo" formControlName="email">
                    </div>
                </div>
                <div class="row">
                    <div class="col text-danger">
                        <p *ngIf="campoNoValido('email')"> * El correo es obligatorio y debe ser un correo valido</p>
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-xs-12">
                        <input class="form-control" type="password" placeholder="Contraseña" formControlName="password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" type="password" placeholder="Confirmar contraseña" formControlName="password2">
                    </div>
                </div>
                <div class="row">
                    <div class="col text-danger">
                        <p *ngIf="passwordNoValido()"> * La contraseña debe tener un minimo de 3 caracteres</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-danger">
                        <p *ngIf="passwordIguales()"> * Las contraseñas deben ser iguales</p>
                    </div>
                </div>


                <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Crear cuenta</button>
                    </div>
                </div>
                <div class="form-group m-b-0">
                    <div class="col-sm-12 text-center">
                        <p>Ya tienes una cuenta? <a routerLink="/login" href="pages-login-2.html" class="text-info m-l-5"><b>Ingresar</b></a></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->