<br>
<div class="container-fluid">
    <div class="row">
        <h5 class="display">Compras</h5>
        <div class="col text-right">
            <button routerLink="/compra/agregar" class="btn btn-info mr-1">
       <i class="fas fa-plus"></i> Agregar
      </button>
        </div>
    </div>
    <table *ngIf="detalles.length >  0" class="table table-hover animated fadedIn faster">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Id</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Precio compra</th>
                <th scope="col">Producto</th>
                <th scope="col">Total</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let c of detalles | paginate: {itemsPerPage: 5 , currentPage: pageActual};let i = index  ">
                <td>{{ i + 1}}</td>
                <td>{{ c.comprasId}}</td>
                <td>{{ c.cantidad}}</td>
                <td>{{ c.precioCompra}}</td>
                <td>{{ c.productoId.descripcion}}</td>
                <td>{{ c.precioCompra * c.cantidad}}</td>
                <td>
                    <button class="btn btn-info mr-1" [routerLink]="['/compras/modificar', c.comprasId ]">
                        <i class="fas fa-pencil-alt"></i>
                    </button>
                    <button class="btn btn-info mr-1">
                        <i class="fas fa-trash"></i>
                    </button>
                </td>

            </tr>
        </tbody>
    </table>
    <pagination-controls (pageChange)="pageActual = $event" class="my-pagination"></pagination-controls>
    <div *ngIf="detalles.length == 0" class="alertalert-warning text-center mt-3">
        <h4 class="alert-heading">No hay registros</h4>
        <p>
            <i class="fa fa-exclamation fa-2x"></i>
        </p>
    </div>