<blockquote class="blockquote text-center">
   <h1>Consulta los Horarios disponibles</h1>
   <footer class="blockquote-footer">Selecciona el horario que mejor te quede!</footer>
 </blockquote>


   <ngb-datepicker class="my-datepicker-1" #dp [(ngModel)]="model" (click)="getSelectedDay()">
   </ngb-datepicker>


   <blockquote class="blockquote text-center">
      <select class="btn btn-bg btn-outline-primary mr-2" [(ngModel)]="selectedOption">
          <option *ngFor="let x of turnosArray">
             {{x}}
          </option>
       </select>
       <button  class="btn btn-bg btn-outline-primary mr-2"  (click)="print()">Agendar </button>
   </blockquote>

   