.my-datepicker-1 .ngb-dp-day {
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    text-align: center;
}

.ng-autocomplete {
    width: 76%;
    max-width: 600px;
    display: table;
    margin: 0 auto;
}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    line-height: 45px;
    height: 45px;
    padding: 0 16px;
    text-align: left;
    max-width: 100%;
    box-sizing: border-box;
}

span {
    margin-left: 5px;
}

.manito {
    cursor: pointer;
}