<blockquote class="blockquote text-center">
    <h1>Explora nuestras categorias</h1>
    <footer class="blockquote-footer"><cite title="Source Title">Agendá ya con nosotros con los mejores especialistas! </cite></footer>
  </blockquote>
<br>
<br>


<div class="card-columns">
    <div class="col mb-4">
        <!--  Lista las categorias -->
            <div class="card" *ngFor="let item of categorias; let i= index">
                <blockquote class="blockquote mb-0">
                <button class="btn btn-light" [routerLink]="['../../booking/servicios', item.categoriaId]">
                    <h5 class="card-title"> {{ item.descripcion}} </h5> 
                </button>
                </blockquote>
            </div> 
        </div>
</div>

