<div class="container main container">
<blockquote class="blockquote text-center">
    <h1>Explora nuestras categorias</h1>
    <footer class="blockquote-footer"><cite title="Source Title">Agendá ya con nosotros con los mejores especialistas!
        </cite></footer>
</blockquote>
<br>
<br>


<div class="card-columns">
    <div class="col mb-4">
        <!--  Lista las categorias -->
        <div class="card btn btn-light" *ngFor="let item of categorias; let i= index"
            (click)="btnClick(item.categoriaId)" ngbTooltip="{{item.descripcion}}">
            <a class="card-body"> <img src="{{urlImagen}}{{item.imageName}}" width="300px" height="300px"> </a>
        </div>
    </div>
</div>


<div *ngIf="categorias.length == 0" class="alert alert-secondary text-center mt-3">
    <h4 class="alert-heading">No hay registros <i class="fa fa-exclamation"></i> </h4>
</div>
</div>