<nav class="navbar navbar-expand-lg navbar-light bg-light  me-auto ">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand  text-info" [routerLink]="['']">Kathy Spa</a>

        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link  text-info" [routerLink]="['/booking/categorias']">SERVICIOS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-info" [routerLink]="['/booking/productos']">PRODUCTOS</a>
            </li>

            <li *ngFor="let item of menuItems" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-info" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ item.titulo }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li *ngFor="let submenu of item.submenu">
                        <a class="dropdown-item" [routerLink]="submenu.url">{{ submenu.titulo }}</a>
                    </li>
                </div>
            </li>
        </ul>
        <div class=" float-right ">
            <!--<button *ngIf="!this.usuarioService.obtenerUsuarioLogueado() " class="btn btn-info text-white mr-2 mt-lg-0 mt-md-0" [routerLink]="[ '/login'] " type="button ">Login </button>-->
            <a *ngIf="!this.usuarioService.obtenerUsuarioLogueado()" class="btn btn-info text-white mr-2 mt-lg-0 mt-md-0" type="button " (click)="open2(content2)">Login</a>
        </div>

        <div class=" float-right ">
            <button *ngIf="this.usuarioService.obtenerUsuarioLogueado() " class="btn btn-info text-white mr-2 mt-lg-0 mt-md-0 " (click)="logout() ">Logout</button>
        </div>




        <ul class="navbar-nav ml-auto ml-md-0">
            <li class="nav-item dropdown">
                <a *ngIf="this.usuarioService.obtenerUsuarioLogueado() " href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-expanded="false">
                    <img src="assets/img/user.png" alt="mdo" width="32" height="32" class="rounded-circle">
                </a>
                <!--<a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button"
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a> -->
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    <a id="editar" class="dropdown-item manito" (click)="open(content)">Editar Perfil</a>
                    <a id="reservas" class="dropdown-item manito" (click)="misReservas()">Mis Reservas</a>
                    <div class="dropdown-divider"></div>
                    <button class="dropdown-item" (click)="logout()">Logout</button>
                </div>
            </li>
        </ul>


    </div>
</nav>

<!--*********************Ciente*******************************-->
<ng-template #content let-modal>
    <div class="modal-header alert-info">
        <h2 class="modal-title" id="modal-basic-title">Mis datos</h2>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <form [formGroup]="formCliente">
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-4 col-form-label">Nombre de Usuario</label>
                    <div class="col-sm-6">
                        <input type="text" autocomplete="username" class="form-control" id="username" formControlName="username">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-4 col-form-label">Nombre</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="nombre" placeholder="Nombre" formControlName="nombre">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-4 col-form-label">Apellido</label>
                    <div class="col-sm-6">
                        <input type="apellido" class="form-control" id="apellido" placeholder="Apellido" formControlName="apellido">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-4 col-form-label">Correo electrónico</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="correo" placeholder="Email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" formControlName="email">

                        <div *ngIf="correo.invalid && (correo.dirty || correo.touched)" class="">
                            <br>
                            <p class="text-danger"> * Correo no válido.</p>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-4 col-form-label">CEDULA</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="cedula" placeholder="" formControlName="cedula">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-4 col-form-label">RUC</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="ruc" placeholder="000-0000-0000-00" formControlName="ruc">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-4 col-form-label">Teléfono</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="telefono" placeholder="(0986) 111-555" pattern="^[0-9]*$" formControlName="telefono">

                        <div *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)" class="alert alert-danger">
                            Introduzca sólo dígitos. </div>
                    </div>
                </div>

                <fieldset class="form-group">
                    <div class="row">
                        <legend class="col-form-label col-sm-4 pt-0">Género</legend>
                        <div class="col-sm-6">
                            <div class="col-xs-12">
                                <select id="sexo" class="form-control" formControlName="sexo" required>
                                  <option value="MASCULINO" selected>MASCULINO</option>
                                  <option value="FEMENINO">FEMENINO</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" [disabled]="!this.formCliente.valid" class="btn btn-info mr-1" (click)="guardarCliente()"> <i class="fas fa-save"></i>Guardar</button>
    </div>
</ng-template>


<!--*********************Registro*******************************-->
<ng-template #content3 let-modal>
    <div class="modal-header alert-info">
        <div class="col-sm mb-0">
            <a href="javascript:void(0)" class="text-center db mb-0 mb-0"><img class="img-thumbnail" src="../assets/img/kathy-spa2.jpg" alt="home" style="height: 70px;" /></a>
            <h3 class="mb-0 mt-0"><strong>Regístrate ahora!</strong></h3>
        </div>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form class="" id="loginform" autocomplete="off" [formGroup]="registerForm" (ngSubmit)="crearUsuario(content2)">
        <div class="modal-body mt-0 mb-0">
            <p class="text-sm"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;En este formulario hay campos obligatorios <span class="text-danger mb-0">*</span></p>

            <div class="row mb-2 ml-0" style="margin-left: 10px !important; margin-right: 2px !important;">
                <div class="md-form mb-2 col-sm">
                    <input class="form-control form-control-sm validate d-inline col-sm-10" formControlName="nombre" type="text" placeholder="Nombres">
                    <span class="text-danger col-sm-1">*</span>
                    <p *ngIf="campoNoValido('nombre')" class="text-danger"> * El nombre es obligatorio</p>
                </div>


                <div class="md-form mb-2 col-sm">
                    <input class="form-control form-control-sm validate d-inline col-sm-10" type="text" formControlName="apellido" placeholder="Apellidos">
                    <span class="text-danger d-inline col-sm-1">*</span>
                    <p *ngIf="campoNoValido('apellido')" class="text-danger"> * El apellido es obligatorio</p>
                </div>
            </div>
            <div class="row mb-2 ml-0" style="margin-left: 10px !important; margin-right: 2px !important;">
                <div class="md-form mb-2 col-sm">
                    <input class="form-control form-control-sm validate d-inline col-sm-10" type="text" formControlName="cedula" placeholder="Cedula">
                    <span class="text-danger col-sm-1">*</span>
                    <p *ngIf="campoNoValido('cedula')" class="text-danger"> * La cédula es obligatoria</p>
                </div>

                <div class="md-form mb-2 col-sm">
                    <input formControlName="fechaNac" type="date" value="Fecha de Nacimiento" placeholder="Fecha de Nacimiento" class="form-control form-control-sm d-inline col-sm-10" id="fechaNac" min="1930-01-01" max="2010-01-01" [(ngModel)]="fechaNac" required>
                    <span class="text-danger d-inline col-sm-1">*</span>
                    <p *ngIf="campoNoValido('fechaNac')" class="text-danger"> * La fecha de nacimiento es obligatoria</p>
                </div>
            </div>
            <div class="row mb-2 ml-0" style="margin-left: 10px !important; margin-right: 2px !important;">
                <div class="md-form mb-2 col-sm">
                    <select id="sexo" class="form-control form-control-sm col-sm-10 d-inline" placeholder="Sexo" formControlName="sexo" required>
                        <option class="bg-light" value="" selected disabled>Seleccione su sexo</option>
                        <option value="MASCULINO" >MASCULINO</option>
                        <option value="FEMENINO">FEMENINO</option>
                    </select>
                    <span class="text-danger d-inline col-sm-1">*</span>
                    <p *ngIf="campoNoValido('sexo')" class="text-danger"> * La dato del sexo es obligatorio</p>
                </div>

                <div class="md-form mb-2 col-sm">
                    <input class="form-control form-control-sm validate d-inline col-sm-10" type="text" formControlName="telefono" placeholder="Telefono">
                    <span class="text-danger d-inline col-sm-1">*</span>
                    <p *ngIf="campoNoValido('telefono')" class="text-danger"> * El número de teléfono es obligatorio</p>
                </div>
            </div>
            <div class="row mb-2 ml-0" style="margin-left: 10px !important; margin-right: 2px !important;">
                <div class="md-form mb-2 col-sm">
                    <input class="form-control form-control-sm validate d-inline col-sm-10" type="text" formControlName="username" placeholder="Nombre Usuario">
                    <span class="text-danger col-sm-1">*</span>
                    <p *ngIf="campoNoValido('username')" class="text-danger"> * El nombre de usuario es obligatorio</p>
                </div>

                <div class="md-form mb-2 col-sm">
                    <input class="form-control form-control-sm validate d-inline col-sm-10" type="text" formControlName="email" placeholder="Correo">
                    <span class="text-danger d-inline col-sm-1">*</span>
                    <p *ngIf="campoNoValido('email')" class="text-danger"> * El correo es obligatorio y debe ser un correo valido</p>
                </div>
            </div>
            <div class="row mb-2 ml-0" style="margin-left: 10px !important; margin-right: 2px !important;">
                <div class="md-form mb-2 col-sm">
                    <input class="form-control form-control-sm validate d-inline col-sm-10" type="password" formControlName="password" placeholder="Contraseña">
                    <span class="text-danger col-sm-1">*</span>
                </div>

                <div class="md-form mb-2 col-sm">
                    <input class="form-control form-control-sm validate d-inline col-sm-10" type="password" formControlName="password2" placeholder="Confirmar contraseña">
                    <span class="text-danger d-inline col-sm-1">*</span>
                </div>
            </div>
            <p *ngIf="passwordNoValido() " class="text-danger">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; * La contraseña debe tener un minimo de 3 caracteres</p>
            <p *ngIf="passwordIguales()" class="text-danger">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; * Las contraseñas deben ser iguales</p>
            <p class="text-sm"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Datos opcionales</p>

            <div class="row mb-2 ml-0" style="margin-left: 10px !important; margin-right: 2px !important;">
                <div class="md-form mb-2 col-sm">
                    <input class="form-control form-control-sm validate d-inline col-sm-10" type="text" formControlName="nacionalidad" placeholder="Nacionalidad">
                </div>

                <div class="md-form mb-2 col-sm">
                    <input class="form-control form-control-sm validate d-inline col-sm-10" type="text" formControlName="ciudad" placeholder="Ciudad">
                </div>
            </div>
            <div class="row mb-2 ml-0" style="margin-left: 10px !important; margin-right: 2px !important;">
                <div class="md-form mb-2 col-sm">
                    <input class="form-control form-control-sm validate d-inline col-sm-10" type="text" formControlName="direccion" placeholder="Direccion">
                </div>

                <div class="md-form mb-2 col-sm">
                    <input class="form-control form-control-sm validate d-inline col-sm-10" type="text" formControlName="ruc" placeholder="Ruc">
                </div>
            </div>

        </div>
        <div class="modal-footer d-flex justify-content-center">
            <button class="btn btn-sm btn-info " type="submit" [disabled]="this.registerForm.invalid">Crear Cuenta</button>
        </div>
    </form>
</ng-template>


<!--**********************Login*************************-->
<ng-template #content2 let-modal>
    <div class="modal-header alert-info">
        <div class="col-sm">
            <a href="" class="text-center db"><img src="../assets/img/kathy-spa2.jpg" alt="Home" /></a>
        </div>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form class="form-group" autocomplete="off" [formGroup]="loginForm" (ngSubmit)="login()" id='loginForm'>
        <div class="modal-body ">

            <div class="md-form mb-2 col-sm">
                <input class="form-control validate col-sm-11 d-inline" type="text" placeholder="Usuario" formControlName="username">
                <span class="text-danger d-inline col-sm-1">*</span>
            </div>

            <div class="md-form mb-2 col-sm">
                <input class="form-control validate col-sm-11 d-inline" type="password" placeholder="Contraseña" formControlName="password">
                <span class="text-danger d-inline col-sm-1">*</span>
            </div>

            <div class="form-group row">
                <div class="col-md-10">
                    <div class="checkbox checkbox-primary pull-left p-t-0">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input id="checkbox-signup" type="checkbox" class="filled-in chk-col-light-blue" formControlName="remember"> &nbsp;
                        <label for="checkbox-signup"> Recuerdame </label>
                    </div>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:void(0)" id="to-recover" class="text-dark pull-right"><i class="fa fa-lock m-r-5"></i> Olvido su contraseña?</a> </div>
            </div>
        </div>

        <div class="modal-footer d-flex justify-content-center">
            <button [disabled]="this.loginForm.invalid" class="btn btn-info " type="submit" data-dismiss="modal" (click)="login()">Ingresar</button>
        </div>

        <div class="form-group m-b-0">
            <div class="col-sm-12 text-center">
                No tienes una cuenta? <a (click)="open3(content3)" class="text-primary m-l-5 manito"><b>Crear cuenta</b></a>
            </div>
        </div>
    </form>
</ng-template>