
<h2 class="display">Nuevo Producto</h2>
<hr>

  <form [formGroup]="form">
    <div class="row">
      <div class="col-6">
        <div class="bd-content">

            <div class="form-row">
                <div class="form-group col-sm-6">
                    <label for="inputEmail3" >Codigo</label>
                        <input formControlName="codigo" type="codigo" class="form-control form-control-sm" id="codigo" required>
                </div>
                <div class="form-group col-sm-6">
                    <label for="inputPassword3" >Nombre del Producto</label>
                        <input formControlName="descripcion" type="descripcion" class="form-control form-control-sm" id="descripcion" required>            
                </div>
            </div>


            <div class="form-row">
                <div class="form-group col-sm-6">
                <label for="inputPassword3" >Costo del Producto</label>
                    <input formControlName="costo" type="number" class="form-control form-control-sm"id="costo" pattern="^[0-9]*$" [(ngModel)]="costo" placeholder="0" required>
                </div>
                
                <div class="form-group col-sm-6">
                    <label for="inputPassword3" >Precio de Venta</label>
                        <input formControlName="precioVenta" type="number" class="form-control form-control-sm" id="precioVenta" pattern="^[0-9]*$" [(ngModel)]="precioVenta" placeholder="0" required>
                </div>
                <div class="row">
                    <div class="col text-danger">
                        <p *ngIf="costo > precioVenta"> * El Precio de venta debe ser mayor al costo del producto</p>
                    </div>
                </div>
            </div>


            <div class="form-row">
                <div class="form-group col-sm-6">
                <label for="inputPassword3" >Stock Actual</label>
                    <input formControlName="stockActual" type="number" class="form-control form-control-sm" id="stockActual" pattern="^[0-9]*$" required>
                </div>

                <div class="form-group col-sm-6">
                <label for="inputState">Categoria</label>
                    <select id="categoriaId" formControlName="categoriaId" class="form-control form-control-sm">
                    <option *ngFor="let cat of categorias" [ngValue]="cat.categoriaId">
                    {{ cat.descripcion }}
                    </option>
                </select >
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-6">
                <label for="inputState" >Impuesto</label>
                    <select id="impuestoId" formControlName="impuestoId" class="form-control form-control-sm">
                    <option *ngFor="let imp of impuestos" [ngValue]="imp.impuestoId">
                    {{ imp.descripcion }}
                    </option>
                </select >
                </div>
                <div class="form-group col-sm-6">
            <label for="inputState" >Estado</label>
                <select id="estado" formControlName="estado" class="form-control form-control-sm" required>
                    <option value="ACTIVO" selected>Activo</option>
                    <option value="INACTIVO">Inactivo</option>
                </select >
                 </div>
            </div>
            <!-- <div class="form-group col-md-6">
                    <label for="inputZip" class="col-sm-2 col-form-label">Estado</label>
                    <div class="form-group col-md-3">
                    <select  id="estado" formControlName="estado" class="form-control" required>
            <option selected>...</option>
                <option class="col-sm-3"  value="activo" selected>Activo</option>
                <option   class="col-sm-3" value="inactivo">Inactivo</option>
            </select>
                    </div>
                </div>-->


                <button routerLink="/producto/listar"  class="btn btn-sm btn-info mr-1">
                    <i class="fas fa-arrow-left"></i> Regresar
                  </button>
                  <button type="submit" 
                  [disabled]="!this.form.valid || form.get('costo').value > form.get('precioVenta').value" 
                       class="btn btn-sm btn-info mr-1"
                    (click)="guardar()"> <i class="fas fa-save"></i> Guardar</button>
          

        </div>
        </div>


        <div class="col-6">
            <div class="bd-content">
              <div class="form-row form-group col-sm-6">

                <div class="form-group row" style="display: none">
                    <label for="inputPassword3" class="col-sm-2  col-form-label">Agregar Imagen</label>
                    <div class="col-sm-3">
                        <input formControlName="imageName" type="imageName" class="form-control" id="imageName">
                    </div>
                </div>


                <div class="form-group row">
                    <div id="titulo" style="display: none">
                        <h1>Subir múltiples archivos Angular y Java</h1>
                    </div>
                    <div id="wrap">
                        <div style="display: none">
                            <mat-card id="box1">
                                <div mode="buffer" *ngFor="let progress of progressInfo" style="display: none">
                                    <span>{{progress.fileName}}</span>
                                    <span>{{progress.value}}%</span>
                                    <div id="progressbar" style="display: none">
                                        <mat-progress-bar mode="buffer" value={{progress.value}}>
                                        </mat-progress-bar>
                                    </div>
                                </div>
                            </mat-card>
                        </div>
                        <div>
                            <!--  Lista las categorias -->

                        </div>
                        <div id="box2">
                            <div class="card-img">
                                <!--<h5 class="card-title"> item.descripcion </h5>-->
                                <button id="selectButton" class="btn btn-sm btn-info mr-1" mat-raised-button (click)="fileInput.click()">Selecciona una imagen</button>
                            </div>

                            <!--para subir varios archivos
                                <input #fileInput type="file" hidden multiple (change)="selectFiles($event)" />-->
                            <input #fileInput type="file" hidden (change)="selectFiles($event)" />
                            <span *ngIf="fileName"><!--{{fileName}}-->

                            </span>
                            <br><br>
                            <button id="uploadButton" class="btn btn-sm btn-info mr-1"  mat-raised-button *ngIf="selectedFiles" [disabled]="!selectedFiles" (click)="uploadFiles()">
                                Subir Archivo
                            </button><br>
                            <br>
                            <div [hidden]="!imagenValida">
                                <p class="text-danger">El archivo seleccionado no es válido</p>
                            </div>


                            <div id="box4" class="container-fluid">


                                <mat-card class="card-container">
                                    <div class="" *ngFor="let file of fileInfos | async">
                                        <div class="row row-6 text-right" *ngIf="file.name == imagen">

                                            <img class="img-rounded" id="img" src="http://localhost:8084/api/files/{{imagen}}" width="130px" height="130px">

                                        </div>
                                    </div>
                                    <mat-card-content>


                                    </mat-card-content>
                                </mat-card>
                            </div>


                        </div>

                        <div id="box3">
                            <span>{{message}}</span>
                        </div>



                    </div>
                </div>




              </div>
            </div>
        </div>
                






    </div>
    </form>
