<blockquote class="blockquote text-center">
    <h1  class="fw-light">Explora nuestra linea de productos</h1>
</blockquote>

<!--Lista las categorias de productos-->
  <p>
    <a *ngFor="let cat of categorias"  class="btn btn-sm btn light alert alert-primary" (click)="recargar(cat.categoriaId)"> {{cat.descripcion}}</a>
  </p>

<!--<div>
    <button *ngFor="let cat of categorias" type="button" class="btn btn-sm btn light alert alert-primary" role="alert" (click)="recargar(cat.categoriaId)"> {{cat.descripcion}} </button>
</div>-->



<div class="row">
    <!--  Lista las servicios -->
    <div class="p-3" *ngFor="let item of productos">
        <div class="">
            <div class="card">
                <button class="btn btn-sm btn-light" (click)="agregarCarrito(item.productoId)">
                    <div class="card-body">
                        <img src="{{urlImagen}}{{item.imageName}}" 
                          class="card-img-top" alt="..." style="width: 200px; height: 200px;">
                        <h5 class="card-title">{{item.nombre}}</h5>
                        <p class="card-text">{{item.descripcion}}</p>
                        <blockquote class="blockquote text-center">
                            <strong> <i class="fas fa-money-bill-alt"></i> {{item.costo}} Gs. </strong>
                        </blockquote>
                    </div>
                </button>
            </div>
        </div>
    </div>

</div>

<!--
<div class="card-columns">
    <div class="col mb-4">
        <div class="card btn btn-light" *ngFor="let item of productos">
            <a class="card-body"> 
                <img src="{{urlImagen}}{{item.imageName}}" 
                class="card-img-top" alt="..." style="width: 50px; height: 50px;">
                <h5 class="card-title">{{item.nombre}}</h5>
                <p class="card-text">{{item.descripcion}}</p>
                <small class="text-muted">
                    <strong> <i class="fas fa-money-bill-alt"></i> {{item.costo}} Gs. </strong></small>
                </a>
        </div>
    </div>
</div>
-->

 


<div *ngIf="productos.length == 0" class="alert alert-secondary text-center mt-3">
    <h4 class="alert-heading">No hay registros <i class="fa fa-exclamation"></i> </h4>
</div>


<br>

<br>

<br>

<br>

<br>

<br>

<br>

<br>
