<div class="row">
  <h5 class="display">Disponibilidad</h5>
</div>



<div class="col-md-12" id="htmlData" #htmlData>
  <div class="card mb-4">
    <div class="card-header"><i class="fas fa-table mr-1"></i>Lista de Servicios</div>
    <div class="card-body">
      <div class="table-responsive">
          <table class="table table-bordered display" id="dataTable" *ngIf="disponibles.length>0" width="100%" cellspacing="0" >
              <thead>
                  <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Servicio</th>
                    <th>Comision</th>
                    <th>Opciones</th>
                  </tr>
              </thead>
              <tbody *ngFor="let item of disponibles | paginate: {itemsPerPage: 4 , currentPage: pageActual};let i = index  ">
                  <tr>
                    <td>{{ i + 1}}</td>
                    <td>{{ item.empleadoId.nombre}}</td>
                    <td>{{ item.servicioId.descripcion}}</td>
                    <td>{{ item.comision}}</td>
                    <td>                        
                      <button class="btn btn-info mr-1"
                       [routerLink]="['/disponible/modificar', item.disponibleId ]" placement="top" ngbTooltip="Editar">
                        <i class="fas fa-pencil-alt"></i>
                      </button>  
                      <button class="btn btn-info mr-1" (click)="borrar(item.disponibleId, i)" placement="top" ngbTooltip="Eliminar">
                        <i class="fas fa-trash"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            </div>
          </div>
  </div>


<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Añadir item</button>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Añadir especialidad</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form">
      <div class="form-group row">
        <label for="inputState" class="col-sm-2 col-form-label">Servicios</label>
        <div class="col-sm">
          <select id="servicioId" formControlName="servicioId" class="form-control">
            <option *ngFor="let serv of servicios" [ngValue]="serv.servicioId">
              {{ serv.nombre }}
            </option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputCity" class="col-sm-2 col-form-label">Comision</label>
        <div class="col-sm">
          <input formControlName="comision" type="float" class="form-control" id="comision" required>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="guardar()">Guardar</button>
  </div>
</ng-template>