<div class="row">
  <h5 class="display">Lista de Comprobantes: </h5>
</div>

<!-- Tabla que lista el horario del empleado -->
<!-- array: horario-->
<div class="col-md-12" id="htmlData" #htmlData>
  <div class="card mb-4">
      <div class="card-body">
          <div class="table-responsive">
              <table class="table table-bordered display" id="dataTable" *ngIf="horario.length>0"
                 width="50%" cellspacing="0">
                  <thead>
                      <tr>
                          <th>#</th>
                          <th>Timbrado</th>
                          <th>Inicio Vigencia</th>
                          <th>Fin Vigencia</th>
                          <th>Estado</th>
                          <th>Opciones</th>

                      </tr>
                  </thead>
                  <tbody *ngFor="let item of horario; let i = index">
                      <tr>
                          <td>{{ i + 1}}</td>
                          <td>{{ item.timbrado}}</td>
                          <td>{{ item.inicioVigencia}}</td>
                          <td>{{ item.finVigencia}}</td>
                          <td>{{ item.estado}}</td>
                          <td> <button type="button" class="btn btn-sm btn-info mr-1" 
                            (click)="borrar(item.comprobanteId, i)"
                            placement="top" ngbTooltip="Eliminar">
                            <i class="fas fa-trash"></i> </button>
                          </td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>
</div>


<div *ngIf="horario.length == 0" class="alertalert-warning text-center mt-3">
  <h4 class="alert-heading">No hay registros.</h4>
  <p>
    <i class="fa fa-exclamation fa-2x"></i>
  </p>
</div>





<button routerLink="/" class="btn btn-sm btn-info mr-1"><i class="fas fa-arrow-left"></i> Regresar
</button>
<button class="btn btn-sm btn-info mr-1" (click)="open(content)">Añadir Comprobante</button>

<ng-template #content let-modal>
    <div class="modal-header alert-info">
        <h4 class="modal-title" id="modal-basic-title">Añadir Comprobante</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span> </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="form">
        <div class="row">
          <div class="col-6">
            <div class="bd-content">
              <div class="form-row">
                <div class="form-group col-sm-6">
                  <label>TipoComprobante</label>
                  <select id="tipoComprobanteId" formControlName="tipoComprobanteId" class="form-control" required>
                      <option *ngFor="let tipo of tipos" [ngValue]="tipo.tipoComprobanteId">
                        {{ tipo.descripcion }}
                      </option>
                    </select>
                </div>
                <div class="form-group col-sm-6">
                  <label id="myLabel">Timbrado </label>
                  <input type="text"  class="form-control form-control-sm" id="timbrado" formControlName="timbrado">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-sm-6">
                  <label for="inputZip">InicioVigencia</label>
                  <input formControlName="inicioVigencia" type="date" class="form-control form-control-sm" id="inicioVigencia" required>
                </div>
                <div class="form-group col-sm-6">
                  <label for="inputZip">FinVigencia</label>
                  <input formControlName="finVigencia" placeholder="finVigencia" type="date" maxlength="60"
                  class="form-control form-control-sm" id="finVigencia" required>
                </div>
              </div>
              <div class="form-group">
                <label for="inputAddress">NumeroInicio</label>
                <input formControlName="numeroInicial" type="number" maxlength="30"  placeholder="numeroInicial"
                  class="form-control form-control-sm" id="numeroInicial" required>
              </div>
              <div class="form-row">
                <div class="form-row form-group col-sm-6">
                  <label for="inputState">NumeroFinal</label>
                  <input formControlName="numeroFinal" type="number" maxlength="30"  placeholder="numeroFinal"
                    class="form-control form-control-sm" id="numeroFinal" required>
                </div>
                <div class="form-group col-sm-6">
                  <label for="inputState">NumeroActual</label>
                  <input formControlName="numeroActual" type="number" maxlength="30"  placeholder="numeroActual"
                    class="form-control form-control-sm" id="numeroActual" required>
                </div>
              </div>
      
            </div>
          </div>
      
        </div>
      
      </form>


  </div>
   
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="guardar()">Guardar</button>
    </div>
</ng-template>




