<div class="row">
    <h5 class="display">Lista de Comprobantes: </h5>
    <div class="col text-right">
        <button (click)="openBox(content1)">NUEVO TIPO</button>
        <button (click)="openBoxes(content2)">VER TIPOS</button>
    </div>
</div>

<!-- Tabla que lista el horario del empleado -->
<!-- array: horario-->
<div class="col-md-12" id="htmlData" #htmlData>
    <div class="card mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered display" id="dataTable" *ngIf="horario.length>0" width="50%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Timbrado</th>
                            <th>Inicio Vigencia</th>
                            <th>Fin Vigencia</th>
                            <th>Estado</th>
                            <th>Opciones</th>

                        </tr>
                    </thead>
                    <tbody *ngFor="let item of horario; let i = index">
                        <tr>
                            <td>{{ i + 1}}</td>
                            <td>{{ item.timbrado}}</td>
                            <td>{{ item.inicioVigencia}}</td>
                            <td>{{ item.finVigencia}}</td>
                            <td>{{ item.estado}}</td>
                            <td> <button type="button" class="btn btn-sm btn-warning mr-1" (click)="borrar(item.comprobanteId, i)" placement="top" ngbTooltip="Dar de baja">
                            <i class="fas fa-minus-circle"></i> </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div *ngIf="horario.length == 0" class="alertalert-warning text-center mt-3">
    <h4 class="alert-heading">No hay registros.</h4>
    <p>
        <i class="fa fa-exclamation fa-2x"></i>
    </p>
</div>





<button routerLink="/" class="btn btn-sm btn-info mr-1"><i class="fas fa-arrow-left"></i> Regresar
</button>
<button class="btn btn-sm btn-info mr-1" (click)="open(content)">Añadir Comprobante</button>

<ng-template #content let-modal>
    <div class="modal-header bg-info">
        <h2 class="modal-title" id="modal-basic-title">Añadir Comprobante</h2><br>

        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span> </button>
    </div>
    <div class="modal-body">
        <p class="text-sm"> &nbsp;En este formulario hay campos obligatorios <span class="text-danger mb-0">*</span></p>
        <form [formGroup]="form">
            <div class="form-group row">
                <label for="inputState" class="col-sm-4 col-form-label">Tipo Comprobante<span class="text-danger">*</span>&nbsp;</label>
                <div class="col-sm-6 float-right">
                    <select id="tipoComprobanteId" formControlName="tipoComprobanteId" class="form-control form-control-sm">
                       <option *ngFor="let tipo of tipos" [ngValue]="tipo.tipoComprobanteId"> {{ tipo.descripcion }} </option>
                   </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Timbrado<span class="text-danger">*</span></label>
                <div class="col-sm-6">
                    <input formControlName="timbrado" placeholder="timbrado" type="text" oninput="validity.valid||(value='');" max="99999999" class="form-control form-control-sm" id="timbrado" required></div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Inicio Vigencia<span class="text-danger">*</span></label>
                <div class="col-sm-6">
                    <input formControlName="inicioVigencia" placeholder="inicioVigencia" type="date" class="form-control form-control-sm" id="inicioVigencia" required></div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Fin Vigencia<span class="text-danger">*</span></label>
                <div class="col-sm-6">
                    <input formControlName="finVigencia" placeholder="finVigencia" type="date" class="form-control form-control-sm" id="finVigencia" required>
                    <p *ngIf="fechaFinNoValida()" class="text-danger text-sm">* La fecha de fin de vigencia es menor a la fecha de inicio de vigencia</p>
                </div>

            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Numero Inicial<span class="text-danger">*</span></label>
                <div class="col-sm-6">
                    <input formControlName="numeroInicial" type="number" min="1" max="999999" oninput="validity.valid||(value='');" class="form-control form-control-sm" id="numeroInicial" required>
                    <p *ngIf="campoNoValido('numeroInicial')" class="text-danger"> * El numero inicial es obligatorio</p>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Numero Final<span class="text-danger">*</span></label>
                <div class="col-sm-6">
                    <input formControlName="numeroFinal" type="number" min="1" max="999999" oninput="validity.valid||(value='');" class="form-control form-control-sm" id="numeroFinal" required>
                    <p *ngIf="campoNoValido('numeroFinal')" class="text-danger"> * El numero final es obligatorio</p>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputState" class="col-sm-4 col-form-label">Ventanilla de cobro<span class="text-danger">*</span></label>
                <div class="col-sm-6">
                    <select id="puntoExpedicionId" formControlName="puntoExpedicionId" class="form-control form-control-sm">
                       <option *ngFor="let p of puntos" [ngValue]="p.puntoExpedicionId"> {{ p.descripcion }} 
                       </option>
                   </select>
                </div>
            </div>
        </form>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-info" (click)="guardar()" [disabled]="this.form.invalid || fechaFinNoValida()">Guardar</button>
    </div>
</ng-template>











<!--Modal para agregar un nuevo Box-->
<ng-template #content1 let-modal>
    <div class="modal-header alert-info">
        <h2>Añadir Tipo de Comprobante</h2>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="boxForm">
            <label class="col-sm-2 col-form-label" for="inputZip">Descripción</label>
            <div class="col-sm">
                <input formControlName="descripcion" type="string" class="form-control" id="descripcion" placeholder="tipo de comprobante" required>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-info mr-1" (click)="guardarTipo()">Guardar</button>
    </div>
</ng-template>




<!--Modal para  listar boxes-->

<ng-template #content2 let-modal>
    <div class="modal-header  alert-info">
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="col-md-12" id="htmlData" #htmlData>
            <div class="card mb-4">
                <div class="card-header"><i class="fas fa-table mr-1"></i>Lista de Tipo de comprobantes</div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered display" id="dataTable" *ngIf="boxes.length>0" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Descricpcion</th>
                                    <th>Opciones</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let item of boxes | paginate: {itemsPerPage: 5 , currentPage: pageActual};let i = index  ">
                                <tr>
                                    <td>{{ i + 1}}</td>
                                    <td>{{ item.descripcion}}</td>
                                    <td>
                                        <!--<button class="btn btn-sm btn-info mr-1" (click)="borrarBox(item.tipoComprobanteId, i)" placement="top"
                            ngbTooltip="Eliminar">
                            <i class="fas fa-trash"></i>
                        </button>-->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--<pagination-controls (pageChange)="pageActual = $event"></pagination-controls>-->
                </div>
            </div>
        </div>


    </div>
</ng-template>