

.form-group {
    margin-bottom: 0rem;
    margin-top: 0.7rem;
}


.form-control {
    margin-bottom: 0rem;
    margin-top: 0rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
}

.label {
    margin-bottom: 0rem !important;
    //este no puedo modificar aun 
}