<br>
<div class="container-fluid">
  <div class="row">
    <h5 class="display">Empleados</h5>
    <div class="col text-right">
      <button routerLink="/empleado/listar" class="btn btn-info mr-1" >
       <i class="fas fa-arrow-left"></i> Regresar
      </button>  
    </div>
  </div>
</div>
<hr>
<div class="container-fluid">
  <form [formGroup]="form">
    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Empleado</label>
      <div class="col-sm-10">
        <input formControlName="empleadoId" type="empleadoId" class="form-control" id="empleadoId" disabled>
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Hora de Entrada</label>
      <div class="col-sm-10">
        <input formControlName="horaInicio" type="Time"   
          id="horaInicio" >
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Hora de Salida</label>
      <div class="col-sm-10">
        <input formControlName="horaFin" type="Time"   
          id="horaFin" >
      </div>
    </div>
<!-- 
    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Cargar Imagen</label>
      <div class="col-sm-10">
        <input formControlName="imageName" type="file"  (change)="onFileSelected($event)" 
          id="imageName" >
      </div>
    </div>--> 
    
    <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" [disabled]="!this.form.valid" class="btn btn-primary" (click)="guardar()" >Guardar Cambios</button>
      </div>
    </div>
  </form>
</div>
