<form [formGroup]="form">

    <!--Cabecera-->
    <div class="alert alert-info" role="alert">
        <div class="row">
            <div class="col-sm">
                <a class="pt-2 d-inline-block" href="/" data-abc="true">FACTURA</a><br>
                <a class="pt-2 d-inline-block" href="/" data-abc="true"></a>
            </div>
            <div class="col-sm">
            </div>
            <div class="col-sm float-right">
                <div class="form-group">
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text">N° FACTURA</label>
                        </div>
                        <input formControlName="numeroFactura" type="text" class="form-control" id="numeroFactura" placeholder="00-000-000000 -numero">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" id="inputGroup-sizing-sm">TIMBRADO</label>
                        </div>
                        <input formControlName="timbrado" type="timbrado" class="form-control" id="timbrado" placeholder="timbrado">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text">FECHA EMISIÓN</label>
                        </div>
                        <input [(ngModel)]="fechaActual" formControlName="fecha" type="date" value="{{currentDate | date:'yyyy-MM-dd' }}" class="form-control" id="fecha" disabled:true>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="form-row">
            <div class="form-group col-sm-6">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Proveeedor</label>
                    </div>
                    <select id="proveedorId" formControlName="proveedorId" class="form-control form-control-sm">
                            <option selected>Seleccionar...</option>
                            <option *ngFor="let p of proveedores" [ngValue]="p.proveedorId">
                                {{ p.empresa }}
                            </option>
                        </select>
                    <div class="input-group-prepend">
                        <button class="btn btn-sm btn-info mr-1" data-toggle="tooltip" data-placement="top" title="Agregar proveedor" (click)="openFormProveedor(content)">
                                <i class="fas fa-1x fa-plus-circle"></i>
                                </button>
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-2 ">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Monto Total</label>
                </div>
                <input [(ngModel)]="totalCompra" formControlName="montoTotal" type="montoTotal" value="{{ util.numberWithCommas(totalCompra)}}" class="form-control form-control-sm" id="montoTotal" disabled>
                <div class="input-group-prepend">
                    <button class="btn btn-sm btn-info mr-1" data-toggle="tooltip" data-placement="top" title="Gs.">
                        <i class="fas fa-dollar-sign"></i> </button>

                </div>
            </div>
        </div>


    </div>
</form>



<hr>
<h3 style="text-align: center;">DETALLES</h3>



<!--Inicio tabla para detalles-->
<div class="example-container">

    <div class="row">
        <mat-form-field appearance="fill" style="width:30%; margin-left:10px;">
            <input matInput [(ngModel)]="articuloselect.cantidad" type="number" placeholder="Cantidad">
        </mat-form-field>

        <!--<mat-form-field>
            <input matInput [(ngModel)]="articuloselect.comprasId" type="number" placeholder="CompraId">
        </mat-form-field>-->

        <mat-form-field appearance="fill" style="width:30%;">
            <input matInput [(ngModel)]="articuloselect.precioCompra" type="number" placeholder="Ingrese precio">
        </mat-form-field>

        <mat-form-field appearance="fill" style="width:30%">
            <mat-label>Seleccione el producto</mat-label>
            <select matNativeControl [(ngModel)]="selectedProd" [(ngModel)]="articuloselect.productoId" name="prod">
            <option value="" selected></option>
            <option *ngFor="let prod of productos" [ngValue]="prod" >
                {{prod.descripcion}}
            </option>
            </select>
        </mat-form-field>
        <button mat-raised-button class="btn btn-info mr-1" (click)="agregar()" style="height:50px">Agregar</button>
    </div>
</div>




<!--Agregar tabla para detalles-->

<strong><p class="text-center">Productos</p></strong>
<table mat-table [dataSource]="datos" class="mat-elevation-z8" #tabla1>

    <ng-container matColumnDef="cantidad">
        <th mat-header-cell *matHeaderCellDef> Cantidad </th>
        <td mat-cell *matCellDef="let detalle"> {{detalle.cantidad}} </td>
    </ng-container>

    <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef> Descripción </th>
        <td mat-cell *matCellDef="let detalle"> {{detalle.comprasId}} </td>
    </ng-container>

    <ng-container matColumnDef="precio">
        <th mat-header-cell *matHeaderCellDef> Precio </th>
        <td mat-cell *matCellDef="let detalle"> {{detalle.precioCompra}} </td>
    </ng-container>

    <ng-container matColumnDef="producto">
        <th mat-header-cell *matHeaderCellDef> Producto </th>
        <td mat-cell *matCellDef="let detalle "> {{detalle.productoId.descripcion}} </td>
    </ng-container>

    <ng-container matColumnDef="borrar">
        <th mat-header-cell *matHeaderCellDef> Borrar? </th>
        <td mat-cell *matCellDef="let j = index;">
            <button mat-raised-button color="warn" focusable="false" (click)="borrarFila(j)">
            Borrar? </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnas"></tr>
    <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
</table>




<button routerLink="/compras/listar" class="btn btn-sm btn-info mr-1">
    <i class="fas fa-arrow-left"></i> Regresar
    </button>
<button type="submit" [disabled]="!this.form.valid" class="btn btn-sm btn-info mr-1" (click)="guardar()"> <i class="fas fa-save"></i> Guardar</button>


<br><br><br><br><br><br><br><br><br>


<!--     Modal para agregar un nuevo Proveedor-->
<ng-template #content let-modal>
    <div class="modal-header alert-info">
        <h2 class="modal-title" id="modal-basic-title">Añadir Proveedor</h2>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="proveedorForm">
            <div class="row">
                <div class="bd-content">
                    <div class="form-row">
                        <div class="form-group col-sm-6">
                            <label>Razón Social</label>
                            <input formControlName="razonSocial" placeholder="razonSocial" type="razonSocial" maxlength="30" class="form-control form-control-sm" required>
                        </div>
                        <div class="form-group col-sm-6">
                            <label>Nombre de Empresa</label>
                            <input formControlName="empresa" placeholder="empresa" type="empresa" maxlength="30" class="form-control form-control-sm" required>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-sm-12">
                            <label>Dirección</label>
                            <input formControlName="direccion" placeholder="dirección" type="direccion" maxlength="60" class="form-control form-control-sm" required>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-sm-6">
                            <label>Ciudad</label>
                            <input formControlName="ciudad" placeholder="ciudad" type="ciudad" maxlength="30" class="form-control form-control-sm" required>
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="inputState">R.U.C.</label>
                            <input formControlName="ruc" type="ruc" maxlength="30" class="form-control form-control-sm" id="ruc" required>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="submit" [disabled]="!this.proveedorForm.valid" class="btn btn-outline-dark" (click)="guardarProveedor()"> <i class="fas fa-save"></i>Guardar</button>
    </div>
</ng-template>