
<div class="row">
<div class="col">


    <form [formGroup]="form">

        <!--Cabecera-->
        <div class="alert alert-info" role="alert">
            <h3 style="text-align: center;">FACTURA DE COMPRA</h3>
            <hr>
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <div class="input-group input-group-sm mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" style="width: 125px;">N° FACTURA</label>
                            </div>
                            <input formControlName="numeroFactura"  placeholder="000-000-0000000"
                            class="form-control" #input  (keyup)="formatFactura($event)" 
                             oninput="validity.valid||(value='');" autofocus  required>
                            </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group input-group-sm mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" style="width: 125px;">TIMBRADO</label>
                            </div>
                            <input formControlName="timbrado" type="number" class="form-control" id="timbrado"
                            oninput="validity.valid||(value='');" max="99999999"placeholder="timbrado" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group input-group-sm mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" style="width: 125px;">FECHA EMISIÓN</label>
                            </div>
                            <input [(ngModel)]="fechaActual" formControlName="fecha" type="date" value="{{currentDate | date:'yyyy-MM-dd' }}" class="form-control" id="fecha" disabled:true required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group input-group-sm mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" style="width: 125px;">Proveeedor</label>
                            </div>
                            <select id="proveedorId" formControlName="proveedorId" class="form-control form-control-sm">
                                <option value="" selected disabled>Seleccionar...</option>
                                <option *ngFor="let p of proveedores" [ngValue]="p.proveedorId">
                                    {{ p.empresa }}
                                </option>
                            </select>
                        <div class="input-group-prepend">
                            <button class="btn btn-sm btn-info mr-1" data-toggle="tooltip" data-placement="top" title="Agregar proveedor" (click)="openFormProveedor(content)">
                                    <i class="fas fa-1x fa-plus-circle"></i>
                                    </button>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
          

            <div class="form-group">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text"  style="width: 125px;">Monto Total</label>
                    </div>
                    <input [(ngModel)]="totalCompra" formControlName="montoTotal" type="montoTotal" 
                    value="{{ util.numberWithCommas(totalCompra)}}" class="form-control form-control-sm" 
                    id="montoTotal" disabled required>
                    <div class="input-group-prepend">
                        <button class="btn btn-sm btn-info mr-1" data-toggle="tooltip" data-placement="top" title="Gs.">
                            <i class="fas fa-dollar-sign"></i> </button>
                    </div>
                </div>
            </div>
    
    
        </div>
    </form>



</div>
<div class="col">


<h3 style="text-align: center;">DETALLES</h3>

<!--Inicio tabla para detalles-->
<div class="example-container" >

    <div class="row">
        <mat-form-field appearance="fill" style="width:30%;">
            <mat-label>Introduzca la cantidad</mat-label>
            <input matInput [(ngModel)]="articuloselect.cantidad" type="number" oninput="validity.valid||(value='');" 
            max="9999999999" placeholder="Sólo digitos"   required>
        </mat-form-field>

        <!--<mat-form-field>
            <input matInput [(ngModel)]="articuloselect.comprasId" type="number" placeholder="CompraId">
        </mat-form-field>-->

        <mat-form-field appearance="fill" style="width:30%;">
            <mat-label>Introduzca el precio</mat-label>
            <input matInput [(ngModel)]="articuloselect.precioCompra" type="number" 
            max="9999999999" placeholder="Sólo digitos"  oninput="validity.valid||(value='');"  required>
        </mat-form-field>

        <mat-form-field appearance="fill" style="width:30%">
            <mat-label>Seleccione el producto</mat-label>
            <select matNativeControl [(ngModel)]="selectedProd" [(ngModel)]="articuloselect.productoId" name="prod">
            <option value="" selected disabled></option>
            <option *ngFor="let prod of productos" [ngValue]="prod" >
                {{prod.descripcion}}
            </option>
            </select>
        </mat-form-field>
        <div class="input-group-prepend">
            <button mat-mini-fab  data-toggle="tooltip" (click)="agregar()" 
            data-placement="top" title="Gs.">
                <i class="fa fa-plus"></i> </button>
        </div>
    </div>
</div>



<!--Agregar tabla para detalles-->

<table mat-table [dataSource]="datos" class="mat-elevation-z8" #tabla1>

    <ng-container matColumnDef="cantidad">
        <th mat-header-cell *matHeaderCellDef> Cantidad </th>
        <td mat-cell *matCellDef="let detalle"> {{detalle.cantidad}} </td>
    </ng-container>

    <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef> Descripción </th>
        <td mat-cell *matCellDef="let detalle"> {{detalle.comprasId}} </td>
    </ng-container>

    <ng-container matColumnDef="precio">
        <th mat-header-cell *matHeaderCellDef> Precio </th>
        <td mat-cell *matCellDef="let detalle"> {{detalle.precioCompra}} </td>
    </ng-container>

    <ng-container matColumnDef="producto">
        <th mat-header-cell *matHeaderCellDef> Producto </th>
        <td mat-cell *matCellDef="let detalle "> {{detalle.productoId.descripcion}} </td>
    </ng-container>

    <ng-container matColumnDef="borrar">
        <th mat-header-cell *matHeaderCellDef> Borrar? </th>
        <td mat-cell *matCellDef="let j = index;">
            <button mat-raised-button color="warn" focusable="false" (click)="borrarFila(j)">
            Borrar? </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnas"></tr>
    <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
</table>



<button routerLink="/compras/listar" class="btn btn-sm btn-info mr-1">
    <i class="fas fa-arrow-left"></i> Regresar
    </button>
<button type="submit" [disabled]="!this.form.valid" class="btn btn-sm btn-info mr-1" (click)="guardar()"> <i class="fas fa-save"></i> Guardar</button>



</div>
</div>








<br><br><br><br><br><br><br><br><br>


<!--     Modal para agregar un nuevo Proveedor-->
<ng-template #content let-modal>
    <div class="modal-header alert-info">
        <h2 class="modal-title" id="modal-basic-title">Añadir Proveedor</h2>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="proveedorForm">
            <div class="row">
                <div class="bd-content">
                    <div class="form-row">
                        <div class="form-group col-sm-6">
                            <label>Razón Social</label>
                            <input formControlName="razonSocial" placeholder="razonSocial" type="razonSocial" maxlength="30" class="form-control form-control-sm" required>
                        </div>
                        <div class="form-group col-sm-6">
                            <label>Nombre de Empresa</label>
                            <input formControlName="empresa" placeholder="empresa" type="empresa" maxlength="30" class="form-control form-control-sm" required>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-sm-12">
                            <label>Dirección</label>
                            <input formControlName="direccion" placeholder="dirección" type="direccion" maxlength="60" class="form-control form-control-sm" required>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-sm-6">
                            <label>Ciudad</label>
                            <input formControlName="ciudad" placeholder="ciudad" type="ciudad" maxlength="30" class="form-control form-control-sm" required>
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="inputState">R.U.C.</label>
                            <input formControlName="ruc" type="ruc" maxlength="30" class="form-control form-control-sm" id="ruc" required>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="submit" [disabled]="!this.proveedorForm.valid" class="btn btn-outline-dark" (click)="guardarProveedor()"> <i class="fas fa-save"></i>Guardar</button>
    </div>
</ng-template>