<h2 class="display">Gestión de Facturas</h2>



<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"> <i class="fa fa-search" aria-hidden="true"></i></span>
    </div>
    <input #termino type="text" class="form-control" placeholder="Buscar factura..." aria-label="Username" aria-describedby="basic-addon1" (keyup.enter)="buscar(termino.value)">
    <form class="form-inline">
        <div class="form-group">
            <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model" (ngModelChange)="buscarFecha($event)" ngbDatepicker #d="ngbDatepicker">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                </div>
            </div>
        </div>
        <hr/>
    </form>
    <p>&nbsp;</p>
    <button routerLink="/compras/agregar" class="btn btn-info mr-1">
      <i class="fas fa-plus"></i> Agregar
    </button>
</div>



<div class="card mb-4">
    <div class="card-header"><i class="fas fa-table mr-1"></i>Facturas cargadas</div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table  table-sm table-bordered display" id="dataTable" *ngIf="compras.length>0" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Factura</th>
                        <th scope="col">Timbrado</th>
                        <th scope="col">Monto total</th>
                        <th scope="col">Proveedor</th>
                        <th scope="col">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let c of compras | paginate: {itemsPerPage: 5 , currentPage: pageActual};let i = index  ">
                        <td>{{ i + 1}}</td>
                        <td>{{ c.fecha}}</td>
                        <td>{{ c.numeroFactura}}</td>
                        <td>{{ c.timbrado}}</td>
                        <td>{{ c.montoTotal}}</td>
                        <td>{{ c.proveedorId.empresa }}</td>
                        <td>
                            <button type="button" class="btn btn-sm btn-info btn-lg" data-toggle="modal" data-target="#myModal" (click)="getCabecera(c.comprasId)" (click)="getDetallesDetalles( c.comprasId)">
                                Detalles
                            </button>
                            <button class="btn btn-sm btn-danger mr-1 " data-toggle="tooltip" data-type="warning" data-placement="top" title="Anular" (click)="anularFactura(c.comprasId, i, c)">
                                Anular  <i class="fas fa-trash" ></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
        </div>
    </div>

</div>

<div *ngIf="compras.length == 0" class="alertalert-warning text-center mt-3">
    <h4 class="alert-heading">No hay registros</h4>
    <p>
        <i class="fa fa-exclamation fa-2x"></i>
    </p>
</div>





<!--Modal para agregar un nuevo Box-->
<ng-template #content let-modal>
    <div class="modal-header modal-header-info">
        <h4 class="modal-title" id="modal-basic-title">Detalles de Factura</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <div class="row">
            <h4 class="display">Fecha: {{ cabecera.fecha}}</h4>
            <div class="col text-right">
                <h4 class="display">Nro Factura: {{ cabecera.numeroFactura}}</h4>
            </div>
        </div>
        <div class="row">
            <h4 class="display">Proveedor: {{ cabecera.proveedorId.empresa}}</h4>
            <div class="col text-right">
                <h4 class="display">Timbrado: {{ cabecera.timbrado}}</h4>
            </div>
        </div>

        <table class="table table-hover animated fadedIn faster">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Precio compra</th>
                    <th scope="col">Producto</th>
                    <th scope="col">Total</th>
                    <!--<th scope="col">Opciones</th>-->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let d of detalles | paginate: {itemsPerPage: 5 , currentPage: pageActual}; let j = index  ">
                    <td>{{ j + 1}}</td>
                    <td>{{ d.cantidad}}</td>
                    <td>{{ d.precioCompra}}</td>
                    <td>{{ d.productoId.descripcion}}</td>
                    <td>{{ d.precioCompra * d.cantidad}}</td>
                    <!--<td>
                    <button class="btn btn-info mr-1" [routerLink]="['/compras/modificar', c.comprasId ]">
                        <i class="fas fa-pencil-alt"></i>
                    </button>
                    <button class="btn btn-info mr-1" (click)="borrar(c.comprasId, i)">
                        <i class="fas fa-trash"></i>
                    </button>
                </td>-->
                </tr>
            </tbody>
        </table>
        <div class="alert alert-info" role="alert">
            <h4 class="display text-right">MontoTotal: {{ cabecera.montoTotal}}</h4>
        </div>
    </div>
    <div class="modal-footer">

    </div>
</ng-template>







       <!-- Modal -->
       <div id="myModal" class="modal fade " role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content ">
                <div class="modal-header ">
                    <table id="td1" width="650px" class="tabla-bordes table-responsive" border="0">
                        <tbody>
                            <tr>
                                <td width="60%">
                                    <div class="row container-fluid justify-content-center" id="myRow">
                                        <p id="myP"><strong>Factura Nº {{numeroFactura}}</strong></p><br>
                                        <p id="myP"><strong>Timbrado Nº {{timbrado}}</strong></p><br>
                                        <p id="myP">Fecha de Factura  {{ fecha | date:'dd-MM-yyyy' }}</p>
                                    </div>
                                </td>
                                <td width="50%">
                                    <div class="titulo1">{{ proveedorId.empresa }}</div>
                                    <div class="titulo2"></div>
                                    <div class="titulo2">{{ proveedorId.direccion}}</div>
                                    <div class="titulo2">Telefono{{proveedorId.telefono}}}</div>
                                    <div class="titulo2"> {{proveedorId.ciudad}} - Paraguay</div>
                                </td>
                            </tr>
                            <tr>
                                <td width="50%">
                                    <div class="bloque-parrafos">
                                        <p><span class="negrita">Fecha de Emision:</span><span> {{fecha}}</span></p>
                                    </div>
                                </td>
                                <td width="50%">
                                    <div class="bloque-parrafos">
                                        <p><strong>Condicion de Venta:</strong><br><span class="negrita">CONTADO</span><span class="negrita"> [ X ] </span><span>     CREDITO</span><span class=""> [  ] </span></p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <div class="bloque-parrafos">
                                    <p><span class="negrita">RUC / Cedula de Identidad:</span><span>{{ proveedorId.ruc}}</span></p>
                                    <p><span class="negrita">Nombre o Razon Social:</span>{{ proveedorId.empresa }}</p>
                                    <p><span class="negrita">Direccion:</span><span>{{' ' + (proveedorId.direccion != null) ? proveedorId.direccion : " "}}</span></p>
                                </div>
                            </tr>
                        </tbody>

                    </table>

                </div>
                <div class="modal-body  container-fluid ">
                    <table id="td2" width="650px" class="tabla-bordes table-responsive" border="0">
                        <thead>
                            <tr>
                                <th class="text-center" rowspan="2" width="10%">Cantidad</th>
                                <th class="text-center" rowspan="2" width="40%">Descripcion</th>
                                <th class="text-center" rowspan="2" width="10%">Precio Unitario</th>
                                <th class="text-center" colspan="3" width="40%">Valor Venta</th>
                            </tr>
                            <tr>
                                <th class="text-center" width="13%">Subtotal</th>
                                <th class="text-center" width="13%">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let d of detalles | paginate: {itemsPerPage: 5 , currentPage: pageActual}; let j = index">
                                <td class="numerico text-center">{{d.cantidad}}</td>
                                <td *ngIf="d.productoId !== null; else servicio">
                                    {{d.productoId.descripcion}}
                                </td>
                                <ng-template #servicio>
                                    <td>{{d.productoId.descripcion}}</td>
                                </ng-template>
                                <td class="numerico"> {{d.precioCompra}}</td>
                                <td class="numerico">
                                0
                                </td>
                                <td class="numerico">0
                                </td>
                                <ng-template #servicio2>
                                    <td>  {{util.numberWithCommas(d.cantidad * d.precioCompra)}}
                                    </td> 
                                </ng-template>
                                <td  class="numerico">
                                    {{util.numberWithCommas(d.cantidad * d.precioCompra)}}
                                </td>
                                <ng-template #servicio1>
                                    <td>{{0}}</td>
                                </ng-template>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>

                        </tbody>
                    </table>
                    <table id="td3" width="650px" class="tabla-bordes table-responsive" border="0">
                        <tbody>

                            <tr>
                                <td width="40%">Descuento</td>
                                <td style="border-left: hidden" class="numerico" width="13%"></td>
                                <td style="border-left: hidden" class="numerico" width="13%"></td>
                                <td style="border-left: hidden" class="numerico" width="14%"></td>
                                <td class="numerico" width="25%">0</td>
                            </tr>
                            <tr>
                                <td colspan="4" style="border-bottom: hidden">Total a Pagar:&nbsp;</td>
                                <td class="numerico" rowspan="3" style="text-align: center; 
                                vertical-align:middle;"> <strong> {{montoTotal}}</strong></td>

                            </tr>
                            <tr>
                                <td colspan="4">&nbsp;</td>

                            </tr>
                            <!--<tr>
                                    <td colspan="4">&nbsp;</td>
                                </tr>-->
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-info text-dark" (click)="clickEvent()">Imprimir</button>
                    <!--<button type="button" class="btn btn-info text-dark" onclick="return xepOnline.Formatter.Format('myModal',
                        {pageWidth:'200mm', pageHeight:'250mm'});"><strong>Imprimir</strong></button>-->
                </div>
            </div>

        </div>
    </div>