<div class="container-fluid">
<h2 class="display">Informe de Reservas por Fecha</h2>


<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"> <i class="fa fa-search" aria-hidden="true"></i></span>
    </div>
    <input #termino type="text" class="form-control" placeholder="Buscar reservas..." aria-label="Username" aria-describedby="basic-addon1" (keyup.enter)="buscar(termino.value)">

    <form class="form-inline">
        <div class="form-group">
            <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model" (ngModelChange)="buscarFecha($event)" ngbDatepicker #d="ngbDatepicker">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                </div>
            </div>
        </div>
        <hr/>
    </form>

    &nbsp;

    <button (click)="clickEvent()" class="btn btn-danger mr-1" data-toggle="tooltip" data-placement="top" title="Exportar a pdf">
            <i class="fas fa-file-pdf"></i>
        </button>
</div>


 
<div class="card mb-4">
    <div class="card-header"><i class="fas fa-table mr-1"></i>Lista de Reservas por Fecha</div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table  table-sm table-bordered display" id="dataTable" *ngIf="reservas.length>0" width="100%"
          cellspacing="0">
          <thead>
            <tr>
                <th>#</th>
                <th>Terapista</th>
                <th>Fecha </th>
                <th>Hora</th>
                <th>Servicio</th>
                <th>Cliente</th>
                <th>Estado</th>
                <th>Opciones</th>
            </tr>
          </thead>
          <tbody *ngFor="let item of reservas | paginate: {itemsPerPage: 10 , currentPage: pageActual};let i = index  ">
            <tr>
                <td>{{ i + 1}}</td>
                <td>{{ item.disponibleId.empleadoId.nombre }}</td>
                <td>{{ item.fechaReserva}}</td>
                <td>{{ item.hora}}</td>
                <td>{{ item.disponibleId.servicioId.descripcion}}</td>
                <td>{{ item.usuarioId.nombre  }}</td>
                <td >{{ item.estado }}</td>
                <td>
                    <button [disabled]="item.estado==='Confirmado'" class="btn btn-info mr-1" placement="top" (click)="confirmarReserva(item.reservaId)" 
                    ngbTooltip="Confirmar"> <i class="far fa-check-circle"></i></button>
                    <button [disabled]="item.estado==='Anulado'" class="btn btn-danger mr-1" placement="top" (click)="anularReserva(item.reservaId, i)" 
                    ngbTooltip="Anular"> <i class="fas fa-ban"></i></button>
                </td>
            </tr>
          </tbody>
        </table>
        <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
      </div>
    </div>
  </div>



  <div *ngIf="reservas.length == 0" class="alert alert-secondary text-center mt-3">
    <h4 class="alert-heading">No hay registros <i class="fa fa-exclamation"></i> </h4>
  </div>



</div>