<footer class="text-center text-white " style="background-color: #f1f1f1;" >
    <!-- Grid container -->
    <div class="container pt-1">
      <!-- Section: Social media -->
      <section class="mb-0">
        <!-- Facebook -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="https://www.facebook.com/KathySpaPotosi" target="_blank"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        <!-- Twitter -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="kathy-spa" target="_blank"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-twitter"></i
        ></a>
  
        <!-- Google -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="kathyspa.com.py@gmail.com" target="_blank"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-google"></i
        ></a>
  
        <!-- Instagram -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="https://www.instagram.com/_kathy_spa/?hl=es-la" target="_blank"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-instagram"></i></a>
  
          <a
          class="btn btn-link btn-floating btn-sm text-dark m-1"
          role="button"
          data-mdb-ripple-color="dark"
          >(0986) 123 -546</a>
  
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
   
  </footer>