<h2 class="display">Nuevo Empleado</h2>
<p class="text-sm">En este formulario hay campos obligatorios <span class="text-danger mb-0">*</span></p>
<hr>




<form [formGroup]="form">
    <div class="row">
        <div class="col-6">
            <div class="bd-content">
                <div class="form-row">
                    <div class="form-group col-sm-6">
                        <label>Nombres<span class="text-danger mb-0">*</span></label>
                        <input formControlName="nombre" placeholder="nombre" type="text" maxlength="30" class="form-control form-control-sm" id="nombre" required>
                        <p *ngIf="campoNoValido('nombre')" class="text-danger"> * El nombre es obligatorio</p>
                    </div>
                    <div class="form-group col-sm-6">
                        <label>Apellidos<span class="text-danger mb-0">*</span></label>
                        <input formControlName="apellido" placeholder="apellido" type="text" maxlength="30" class="form-control form-control-sm" id="apellido" required>
                        <p *ngIf="campoNoValido('apellido')" class="text-danger"> * El apellido es obligatorio</p>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-sm-12">
                        <label>Dirección<span class="text-danger mb-0">*</span></label>
                        <input formControlName="direccion" placeholder="dirección" type="text" maxlength="60" class="form-control form-control-sm" id="direccion" required>
                        <p *ngIf="campoNoValido('direccion')" class="text-danger"> * La dirección obligatoria</p>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-sm-6">
                        <label for="inputState">Nacionalidad<span class="text-danger mb-0">*</span></label>
                        <input formControlName="nacionalidad" placeholder="nacionalidad" type="text" maxlength="30" class="form-control form-control-sm" id="nacionalidad" required>
                        <p *ngIf="campoNoValido('nacionalidad')" class="text-danger"> * La nacionalidad es obligatoria</p>
                    </div>
                    <div class="form-group col-sm-6">
                        <label>Ciudad<span class="text-danger mb-0">*</span></label>
                        <input formControlName="ciudad" placeholder="ciudad" type="text" maxlength="30" class="form-control form-control-sm" id="ciudad" required>
                        <p *ngIf="campoNoValido('ciudad')" class="text-danger"> * La ciudad es obligatoria</p>
                    </div>
                </div>


                <div class="form-row">
                    <div class="form-group col-sm-6">
                        <label>Teléfono</label>
                        <input formControlName="telefono" placeholder="02xxx" type="number" min="0" class="form-control form-control-sm" max="9999999999" oninput="validity.valid||(value='');" id="telefono">
                        <div *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)" class="alert alert-sm alert-danger">
                            Introduzca sólo dígitos.
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label>Celular</label>
                        <input formControlName="celular" placeholder="098xxx" type="number" min="0" class="form-control form-control-sm" min="0" max="9999999999" oninput="validity.valid||(value='');" id="celular">
                        <div *ngIf="celular.invalid && (celular.dirty || celular.touched)" class="text-danger">
                            * Introduzca sólo dígitos.
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-sm-6">
                        <label>Correo</label>
                        <input type="text" class="form-control form-control-sm" id="email" placeholder="Correo" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" formControlName="correo">
                        <div *ngIf="correo.invalid && (correo.dirty || correo.touched)" class="text-danger">
                            * Correo inválido.
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label>Función/Cargo<span class="text-danger mb-0">*</span></label>
                        <select placeholder="funcion" id="funcion" required type="text" formControlName="funcion" class="form-control form-control-sm" required>
                          <option value="" selected disabled>...</option>
                          <option value="soltero">CAJERO</option>
                          <option value="casado">RECEPCIONISTA</option>
                          <option value="divorciado">TERAPISTA</option>
                          <option value="separado">GERENTE</option>
                        </select>
                        <p *ngIf="campoNoValidoFuncion('funcion')" class="text-danger"> * El dato del cargo es obligatorio</p>
                    </div>
                </div>

            </div>
        </div>



        <div class="col-6">
            <div class="bd-content">

                <div class="form-row form-group col-sm-6">
                    <label>Cédula<span class="text-danger mb-0">*</span></label>
                    <input formControlName="cedula" placeholder="cédula" type="cedula" class="form-control form-control-sm" max="99999999" oninput="validity.valid||(value='');" id="cedula" required>
                    <div *ngIf="cedula.invalid && (cedula.dirty || cedula.touched)" class="alert alert-danger">Introduzca sólo dígitos.
                    </div>
                </div>


                <div class="form-group col-sm-6">
                    <label>Estado Civil<span class="text-danger mb-0">*</span></label>
                    <select id="estadoCivil" formControlName="estadoCivil" class="form-control form-control-sm" required>
                      <option value="" selected disabled>...</option>
                      <option value="soltero">SOLTERA/O</option>
                      <option value="casado">CASADA/O</option>
                      <option value="divorciado">DIVORCIADA/O</option>
                      <option value="separado">SEPARADA/O</option>
                      <option value="viudo">VIUDA/O</option>
                      <option value="aconcubinado">ACONCUBINADO/A</option>
                    </select>
                    <p *ngIf="campoNoValidoFuncion('estadoCivil')" class="text-danger"> * El dato del estado civil es obligatorio</p>
                </div>


                <div class="form-group col-sm-6">
                    <label>Fecha de nacimiento<span class="text-danger mb-0">*</span></label>
                    <input formControlName="fechaNac" type="date" class="form-control form-control-sm" id="fechaNac" min="1921-01-01" max="2003-01-01" required>
                </div>
                <div class="row">
                    <div class="col text-danger">
                        <p *ngIf="campoNoValido('fechaNac')"> &nbsp;&nbsp;&nbsp;* Fecha de nacimiento es obligatoria</p>
                    </div>
                </div>



                <div class="form-group col-sm-6">
                    <label class="label">Salario Base:<span class="text-danger mb-0">*</span></label>
                    <input formControlName="sueldo" min="0" type="number" class="form-control form-control-sm" id="sueldo" max="999999999" placeholder="sueldo" oninput="validity.valid||(value='');" required>
                    <div *ngIf="sueldo.invalid && (sueldo.dirty || sueldo.touched )" class="text-danger">
                        * Introduzca sólo dígitos.
                    </div>
                </div>
            </div>
        </div>

        <button routerLink="/empleado/listar" class="btn btn-sm btn-info mr-1">
      <i class="fas fa-arrow-left"></i> Regresar
    </button>
        <button type="submit" [disabled]="!this.form.valid" class="btn btn-sm btn-info mr-1
    " (click)="guardar()"> <i class="fas fa-save"></i> Guardar</button>



    </div>

</form>
<br><br><br><br><br><br><br><br>