<br>
<div class="container-fluid">
  <div class="row">
    <h5 class="display">Empleados</h5>
    <div class="col text-right">
      <button routerLink="/empleado/agregar" class="btn btn-info mr-1" >
       <i class="fas fa-plus"></i> Agregar
      </button>  
    </div>
  </div>
  <div class="card mb-4">
    <div class="card-header"><i class="fas fa-table mr-1"></i>Lista de Empleados</div>
    <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered display"  id="dataTable" *ngIf="empleados.length>0" width="100%" cellspacing="0">
                <thead>
                    <tr>
                      <th>#</th>
                      <th>Cédula</th>
                      <th>Nombre</th>
                      <th>Apellido</th>
                      <th>Dirección</th>
                      <th>Teléfono</th>
                      <th>Opciones</th>
                    </tr>
                </thead>
                <tbody *ngFor="let item of empleados | paginate: {itemsPerPage: 5 , currentPage: pageActual};let i = index  ">
                    <tr>
                      <td>{{ i + 1}}</td>
                      <td>{{ item.cedula }}</td>
                      <td>{{ item.nombre}}</td>
                      <td>{{ item.apellido}}</td>
                      <td>{{ item.direccion}}</td>
                      <td>{{ item.telefono}}</td>
                      <td>                        
                        <button class="btn btn-info mr-1"
                         [routerLink]="['/empleado/modificar', item.empleadoId ]">
                         <i class="fas fa-pencil-alt"></i></button>
                        <button class="btn btn-info mr-1" (click)="borrar(item.empleadoId, i)">
                          <i class="fas fa-trash"></i> </button>
                        <button class="btn btn-info mr-1" [routerLink]="['/empleado/horario', item.empleadoId ]">
                          Horario
                        </button>


                      </td>
                    </tr>
                  </tbody>
                </table>
                <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
    </div>
   </div>
  </div>
</div>
  <!--    
 -->
<div *ngIf="empleados.length == 0" class="alertalert-warning text-center mt-3">
  <h4 class="alert-heading">No hay registros</h4>  
  <p>
    <i class="fa fa-exclamation fa-2x"></i>
  </p>
</div>

