<div class="container-fluid">
  <div class="row">
    <h5 class="display">Empleados</h5>
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1"> <i class="fa fa-search" aria-hidden="true"></i></span>
    </div>
    <input #termino type="text" class="form-control" placeholder="Buscar empleado..." aria-label="Username"
      aria-describedby="basic-addon1" (keyup.enter)="buscar(termino.value)">

    <button routerLink="/empleado/agregar" class="btn btn-info mr-1">
      <i class="fas fa-plus"></i> Agregar
    </button>
  </div>




  <div class="card mb-4">
    <div class="card-header"><i class="fas fa-table mr-1"></i>Lista de Empleados</div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-sm table-bordered display" id="dataTable" *ngIf="empleados.length>0" width="100%"
          cellspacing="0">
          <thead>
            <tr>
              <th>#</th>
              <th>Cédula</th>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Dirección</th>
              <th>Teléfono</th>
              <th>Opciones</th>
            </tr>
          </thead>
          <tbody *ngFor="let item of empleados | paginate: {itemsPerPage: 5 , currentPage: pageActual};let i = index  ">
            <tr>
              <td>{{ i + 1}}</td>
              <td>{{ item.cedula }}</td>
              <td>{{ item.nombre}}</td>
              <td>{{ item.apellido}}</td>
              <td>{{ item.direccion}}</td>
              <td>{{ item.telefono}}</td>
              <td>
                <button class="btn btn-sm btn-info mr-1" [routerLink]="['/empleado/modificar', item.empleadoId ]"
                  placement="top" ngbTooltip="Editar">
                  <i class="fas fa-pencil-alt"></i></button>
                <button type="button" class="btn btn-sm btn-info mr-1" (click)="borrar(item.empleadoId, i)" placement="top"
                  ngbTooltip="Eliminar">
                  <i class="fas fa-trash"></i> </button>
                <button class="btn btn-sm  btn-info mr-1" [routerLink]="['/empleado/asignar-horario/', item.empleadoId ]"
                  placement="top" ngbTooltip="Asignar Horarios">
                  <i class="fas fa-clock"></i> </button>
                <button class="btn btn-sm  btn-info mr-1" [routerLink]="['/empleado/asignar-disponibilidad/', item.empleadoId ]"
                  placement="top" ngbTooltip="Ver Especialidades">
                  <i class="fas fa-clipboard-list"></i> </button>
              </td>
            </tr>
          </tbody>
        </table>
        <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
      </div>
    </div>
  </div>
</div>




<div *ngIf="empleados.length == 0" class="alert alert-secondary text-center mt-3">
  <h4 class="alert-heading">No hay registros <i class="fa fa-exclamation"></i> </h4>
</div>