<div class="card-columns">
    <div class="col mb-4">
        <div class="card" *ngFor="let item of categorias">
            <img src="/assets/img/{{item.imageName}}.jpg" class="card-img-top" alt="...">
            <button class="btn btn-light" [routerLink]="['../../servicio/servicio', item.categoriaId]">
                <!--   -->
                <div class="card-body">
                <h5 class="card-title">{{ item.descripcion}}</h5> 
            </div> 
            </button>
        </div>
    </div>
</div>