<br>
<div class="container-fluid">
  <div class="row">
    <h5 class="display">Categorias</h5>
    <div class="col text-right">
      <button routerLink="/categoria/agregar" class="btn btn-info mr-1" >
      <i class="fas fa-plus"></i> Agregar
      </button>  
    </div>
  </div>
  
  <div class="card mb-4">
    <div class="card-header"><i class="fas fa-table mr-1"></i>Lista de Categorias</div>
  <div class="card-body">
  <div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr >
        <th class=" text-center" *ngFor="let item of dataGridColumns" sortable="item.modelo" (sort)="onSort($event)" >{{item.titulo}}</th>
        <th class=" text-center">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data$" >        
        <td class=" text-center" *ngFor="let columna of dataGridColumns" >
          <ngb-highlight [result]="item[columna.modelo]" ></ngb-highlight>
        </td>
        <td class=" text-center" >
          <button class="btn btn-info mr-1" (click)="borrar(item.categoriaId)"> <i class="fas fa-trash"></i></button>
          <button class="btn btn-info mr-1" [routerLink]="['/categoria/modificar', item.categoriaId ]"> <i class="fas fa-pencil-alt"></i></button>
        </td>
      </tr>
      </tbody>
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item"><button class="page-link" (click)="cargarPagina(this.page)">Previous</button></li>
          <li class="page-item"><button class="page-link" (click)="onSort(columna.modelo, 'ASC') ")>1</button></li>
          <li class="page-item"><button class="page-link" href="#">2</button></li>
          <li class="page-item"><button class="page-link" href="#">3</button></li>
          <li class="page-item"><button class="page-link" (click)="cargarPagina(this.page)">Next</button></li>
        </ul>
      </nav>
    </table>
  </div>
</div>
</div>
</div>