<br>
<div class="container-fluid">
    <div class="row">
        <h5 class="display">Categorias</h5>
        <div class="col text-right">
            <button routerLink="/categoria/listar" class="btn btn-info mr-1">
       <i class="fas fa-arrow-left"></i> Regresar
      </button>
        </div>
    </div>
</div>
<hr>
<div class="container-fluid">
    <form [formGroup]="form">


        <div class="form-group row">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Descripción</label>
            <div class="col-sm-10">
                <input formControlName="descripcion" type="descripcion" class="form-control" id="descripcion" required>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="inputZip">Tipo Categoria</label>
            <div class="col-sm-10">
                <select id="dataType" formControlName="dataType" class="form-control" required>
                        <option selected>...</option>
                        <option value="PRODUCTO">Productos</option>
                        <option value="SERVICIO">Servicio</option>
                    </select>
            </div>
        </div>

        <div class="form-group row" style="display: none">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Imagen</label>
            <div class="col-sm-10">
                <input formControlName="imageName" type="imageName" class="form-control" id="imageName">
            </div>
        </div>

        <div class="form-group row">
            <div id="titulo" style="display: none">
                <h1>Subir múltiples archivos Angular y Java</h1>
            </div>
            <div id="wrap">
                <div style="display: none">
                    <mat-card id="box1">
                        <div mode="buffer" *ngFor="let progress of progressInfo" style="display: none">
                            <span>{{progress.fileName}}</span>
                            <span>{{progress.value}}%</span>
                            <div id="progressbar" style="display: none">
                                <mat-progress-bar mode="buffer" value={{progress.value}}>
                                </mat-progress-bar>
                            </div>
                        </div>
                    </mat-card>
                </div>
                <div>
                    <!--  Lista las categorias -->

                </div>
                <div id="box2">
                    <div class="card-img">
                        <!--<h5 class="card-title"> item.descripcion </h5>-->

                        <button id="selectButton-" class="card-footer btn-info text-dark float-left" mat-raised-button (click)="fileInput.click()">Selecciona una imagen</button>
                    </div>

                    <!--para subir varios archivos
                        <input #fileInput type="file" hidden multiple (change)="selectFiles($event)" />-->
                    <input #fileInput type="file" hidden (change)="selectFiles($event)" />
                    <span *ngIf="fileName"><!--{{fileName}}-->

                    </span>
                    <br><br>
                    <button id="uploadButton-" class="btn-info text-dark float-left" mat-raised-button *ngIf="selectedFiles" [disabled]="!selectedFiles" (click)="uploadFiles()">
                        Subir Archivo
                    </button><br>
                    <br>
                    <div [hidden]="!imagenValida">
                        <p class="text-danger">El archivo seleccionado no es válido</p>
                    </div>


                    <div id="box4" class="container-fluid">


                        <mat-card class="card-container">
                            <div class="" *ngFor="let file of fileInfos | async">
                                <div class="row row-6 text-right" *ngIf="file.name == imagen">

                                    <img class="img-rounded" id="img" src="https://spa-2021-springboot.herokuapp.com/api/files/{{imagen}}" width="130px" height="130px">

                                </div>
                            </div>
                            <mat-card-content>


                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="guardar-">
                        <br><br><button class="text-right" type="submit" [disabled]="!this.form.valid" class="btn btn-primary float-right mr-1" (click)="guardar()">Guardar</button>
                    </div>

                </div>

                <div id="box3">
                    <span>{{message}}</span>
                </div>



            </div>
        </div>


    </form>
</div>