<br>
<div class="container-fluid">
  <div class="row">
    <h5 class="display">Categorias</h5>
    <div class="col text-right">
      <button routerLink="/categoria/agregar" class="btn btn-info mr-1" >
      <i class="fas fa-plus"></i> Agregar
      </button>  
      <button class="btn btn-info mr-1" (click)="productos()">Productos</button>
      <button class="btn btn-info mr-1" (click)="servicios()">Servicios</button> 
    </div>
  </div>
  
  <table *ngIf="categorias.length > 0" class="table table-hover animated fadedIn faster">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col" >Tipo Servicio</th>
        <th scope="col">Nombre de Categoria</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of categorias | paginate: {itemsPerPage: 5 , currentPage: pageActual};let i = index  ">
        <td>{{ i + 1 }}</td>
        <td>{{ item.dataType}}</td>
        <td>{{ item.descripcion}}</td>
        <td>
          <button class="btn btn-info mr-1"
           [routerLink]="['/categoria/modificar', item.categoriaId ]">
            <i class="fas fa-pencil-alt"></i>
          </button>
          <button class="btn btn-info mr-1" (click)="borrar(item.categoriaId)">
            <i class="fas fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
    </table>
    <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
  </div>
<div *ngIf="categorias.length == 0" class="alertalert-warning text-center mt-3">
  <h4 class="alert-heading">No hay registros.</h4>  
  <p>
    <i class="fa fa-exclamation fa-2x"></i>
  </p>
</div>